[2021-07-08 08:30] dennisTS commented on #304
There is no OOM, it's done by k8s OOMKiller.

We reload them one by one, so in theory it should be maximum 5 - but it might depend on GC and the behaviour of `org.tensorflow.SavedModelBundle#close`

Well, the pod has 13G available in total and 50% of it is dedicated to heap - in this setup reloads seem to be happening without issues (on SNAPSHOT). But as soon as we increase heap size to 70%, the p

[2021-07-08 13:27] Craigacp commented on #304
Ok. TF-Java stores all the tensors and models off heap as they are allocated by the TF native runtime. So this is probably a normal allocation pattern rather than a leak, you need to have sufficient memory free in the pod for the TF native allocations, and when you set the heap size too high the JVM takes more of the memory so the k8s OOM killer triggers when there is a large native allocation. Wi

[2021-07-08 13:58] Craigacp commented on #349
You should be able to compile from source and specify the instructions available on your docker host. I think by default the newest thing we target is AVX, so presumably that's missing in your docker environment.

[2021-07-09 08:14] 729222507 commented on #349
Confirm the instruction set, the host of the JVM crash does not support AVX, avx2, FMA instruction set, and it starts normally after changing one. Thank you

[2021-07-09 08:14] #349 closed

[2021-07-09 10:32] dennisTS commented on #304
Thank you, @Craigacp, that makes sense

[2021-07-13 20:41] JimClarke5 opened #352 "SparseNDArray and SparseTensor."
This may be a more appropriate issue for `java-ndarray`, but I thought I would kick off discussion here as it relates to `SparseTensor`.

@karl has asked that I explore setting up a `SparseNDArray` within `java-ndarray`, and I have done that partially, but I thought I would highlight some issues I am running up against.

I started writing a `SparseNDArray` under a new package (`sparse`) in `java-n

[2021-07-14 14:42] karllessard commented on #352
Thanks @JimClarke5 for looking at this,

I'm wondering if our sparse ND arrays should not be read-only. `DataBuffer`s used to instantiate an NDArray can be marked as read-only and will trigger an exception in any attempt to write to it (...and I just noticed that this exception is not documented in the `NdArray` javadoc, just the `DataBuffer`). But (and maybe just temporarily), sparse nd-arrays no

[2021-07-14 16:24] Craigacp commented on #352
We punted on this issue in Tribuo, so our sparse vectors and matrices have a fixed index structure, but the values can change. That's turned out to work quite well for some things, but it can be a confusing restriction. And exploiting that restriction makes it harder to develop in the future.

I think making the sparse tensor read only from Java and allowing the TF graph to manipulate it if necess

[2021-07-15 21:13] rnett commented on #347
An extension: tensorflow has mechanisms to automatically JIT sections of functions.  See https://www.tensorflow.org/xla#auto-clustering.  Look into how to enable this, and document if the Python methods don't work.

[2021-07-17 20:50] rnett opened #355 "Add method to copy graph operation to new graph or eager operation builder"
There are a number of situations that I have ran into where I need to copy a graph operation to another graph operation, or an eager operation, sometimes substituting inputs.  This depends on being able to access attributes and input lists (#302) and being able to set them (tensorflow/tensorflow#50816,, not 100% necessary but makes things much easier).  I plan on implementing it myself once those

[2021-07-19 20:46] rnett commented on #347
There are option setters here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/c/c_api_experimental.h#L62, but we aren't currently mapping it.

[2021-07-23 16:22] rnett commented on #347
See also: https://github.com/tensorflow/tensorflow/issues/50797

[2021-07-28 07:00] rnett opened #356 "Consider making CI bazel cache public for read only access"
Bazel allows you to use the build cache in a read-only manner [see here](https://docs.bazel.build/versions/main/remote-caching.html#read-from-and-write-to-the-remote-cache).  It would be very helpful for local builds if we could make the cache used by the CI available in read only mode for local builds, and potentially automatically set that up (via a bazelrc or maven profile).  Currently building

[2021-07-30 15:17] brychcy opened #357 "Bug in String deallocation"
When trying to upgrade to 0.3.1 we got junit failures in a class with multiple
tests that load and use saved models with string inputs and outputs.

Tensorflow was for some tests throwing an exception with a message that definitely was wrong.

When the tests were run individually, no error occured.

When the tests were reordered, different tests were failing.

So this smells likely a memory corrup

[2021-07-30 15:37] brychcy commented on #357
See PR #358

[2021-07-31 00:22] karllessard commented on #357
Thanks for the PR @brychcy , we'll take a look at it.

Can you also please retry with 0.3.2, which was released a few weeks ago? We have fixed a memory leak related to loading/unloading saved models, that might prevent other issues as well

[2021-07-31 07:33] brychcy commented on #357
Happens also with 0.3.2.
Actually I directly tried to upgrade to that but then noted that the problem already appears with 0.3.1.

[2021-08-04 02:21] johnynek opened #362 "Unable to produce a ConcreteFunction with two outputs"
When making a signature with two outputs, I get the following error:

[code]

I believe the issue is that here the code claims to be asking for output data types, but it passes the input data types:

https://github.com/tensorflow/java/blob/50f7efa5821877668c2645886b0e4addef7306b6/tensorflow-core/tensorflow-core-api/src/main/java/org/tensorflow/ConcreteFunction.java#L247

see the call site expects

[2021-08-04 02:28] Craigacp commented on #362
I think that's fixed in this PR https://github.com/tensorflow/java/pull/360. Could you check out that branch and see if it fixes the issue?

[2021-08-04 02:39] johnynek commented on #362
I haven't build locally, and I note that PR is red.

I wonder about just running this diff:
[code]

[2021-08-04 02:42] Craigacp commented on #362
The PR is red because it failed to pull the macOS snapshot binary as we're having some issues with the snapshot deployments. I'd recommend trying the branch in the PR.

[2021-08-04 02:44] johnynek commented on #362
Well, I tried to build on (on macos), but I got a cryptic error:
[code]

I'm not very experienced with mvn.

[2021-08-04 02:50] Craigacp commented on #362
There should be an error further up which relates to how the TF native binary build failed. If you're building it locally use `mvn clean install -Pdev` which should pull in the snapshot for the binary. Building the TF native code needs a bunch of things like bazel and will take several hours so it's best to avoid it if possible.

[2021-08-04 02:53] johnynek commented on #362
added: https://github.com/tensorflow/java/pull/363 just to show the minimal change I think may work.

[2021-08-04 03:11] johnynek commented on #362
I tried to build with your command but it failed because the javadoc seems super broken:
[code]

[2021-08-04 03:19] Craigacp commented on #362
Hmm. We've seen that intermittently but I find it hard to replicate locally. What JVM & version are you using?

[2021-08-05 01:12] #313 closed

[2021-08-05 01:14] #362 closed

[2021-08-05 05:33] AzizZayed opened #365 "TFFailedPreconditionException with BigGAN-deep model from TensorFlow Hub"
**System information**
- OS: macOS Big Sur 11.3.1
- TensorFlow-java version: 0.3.1
- Java version: I tried both 1.8 and 11

**Issue**

I am able to load [this](https://tfhub.dev/deepmind/biggan-deep-128/1) biggan-deep model into java with the SavedModelBundle.Loader but when I run it, I get

The model works in Python. I initially encountered the issue when I used [DJL](https://djl.ai/) to load and

[2021-08-05 13:50] Craigacp commented on #365
I can replicate this. We know about the empty tags issue that you're working around with reflection, that'll get fixed soon, but I'm not sure why the SavedModelBundle has uninitialized variables in it. You can work around it by running `model.session().run("init");` before using the bundle.

We're currently working on the init ops to see if we can make it more compatible with TF Python's multiple

[2021-08-07 13:58] aseemsavio commented on #252
Would TF-Java for the M1 macs likely be supported? If so, would someone be kind enough to share the milestones if it exists?

[2021-08-09 02:07] DachuanZhao opened #366 "How to load a saved model from python and predict in new tensorflow java ?"
**System information**
- TensorFlow version: 2.5.0
- Doc Link: [https://www.tensorflow.org/jvm/install](https://www.tensorflow.org/jvm/install)

**Describe the documentation issue**
The java document only contains a ```install``` chapter , could you please add a ```load saved model and predict``` chapter ?

[2021-08-09 03:13] Craigacp commented on #366
You can see a short example of loading in a saved model and executing a function from it in the TF-Java test suite (https://github.com/tensorflow/java/blob/master/tensorflow-core/tensorflow-core-api/src/test/java/org/tensorflow/SavedModelBundleTest.java#L285), and there are many more examples of that in the TF-Java models repo (https://github.com/tensorflow/java-models/tree/master/tensorflow-examp

[2021-08-09 11:30] #269 closed

[2021-08-10 00:04] AzizZayed commented on #365
Adding `model.session().run("init");` worked wonders for this specific model. Thank you for that. However, if I add this line before running a model that already worked, will it break? In other words, does this fix do anything in the background that can break existing  and working code?

[2021-08-10 00:41] Craigacp commented on #365
I suspect this issue might be specific to GANs because they generate things, but I'm not sure if the naming of init nodes is consistent across different models. There might be something in the protobuf which names the init node that we haven't discovered yet.

If it doesn't exist in the model you've loaded it will throw an exception, and if it does exist then it might re-initialize the weights zer

[2021-08-11 23:18] rnett commented on #365
That particular model is using TF1 stuff (see https://www.tensorflow.org/hub/api_docs/python/hub/Module deprecation notice), so I'm not sure whether that's something we can support automatically.  I'll look into it though.

@Craigacp where is your `ops.txt` file you greped from?  Did you load the model to Java and then dump the names?  Since I don't see any op with that name in the `saved_model.pb

[2021-08-11 23:23] Craigacp commented on #365
Yes, I loaded the Saved Model then pulled out the graph and iterated the operations to generate a list of the ops.

[2021-08-11 23:31] rnett commented on #365
Ok, this will definitely be handled by `SavedModelBundle.load` for TF2 models, see https://github.com/tensorflow/tensorflow/blob/master/tensorflow/cc/saved_model/loader.cc#L428.  It finds and executes the init op itself when the saved model is exported with one.  I would like to figure out how to export our init scope as init ops.

[2021-08-13 09:33] cor3ntino opened #367 "Bug with method copyTo - Method copyTo not working on Tensor that is output from a TF model"
Hello,
I am having an issue with copying a Tensor (output of my model) into an NdArray, to be able to read the values of this output tensor.

**System information**
- OS Platform and Distribution: Linux Ubuntu 20.04.2 LTS, x86-64
- TensorFlow built with sbt from "org.tensorflow" % "tensorflow-core-platform" % "0.3.2"
- TensorFlow version: 2.4.1 (but also tried with TF1.x)
- Java version: Java 8 (o

[2021-08-13 12:51] karllessard commented on #367
Thanks for the @cor3ntino , `copyTo` should be available from any tensors, including those coming as an output of a model inference. I'll try to replicate the issue and come back to you after.

[2021-08-13 13:15] cor3ntino commented on #367
Hello @karllessard!
Thank you for helping

[2021-08-13 13:26] karllessard commented on #367
@cor3ntino , can you try to cast your output tensor to the right tensor type before calling `copyTo`? If you are working directly with `Tensor`, the compiler won't know that it is a tensor of ints, therefore that it can accept an `IntNdArray` in parameter. Please try to do something like this and let us know if that worked (note that I'm protecting output tensors with a try-with-resource block, th

[2021-08-13 13:41] cor3ntino commented on #367
Thank you for your answer @karllessard, indeed it works with casting before calling `copyTo`! I did not think about that because it looked like the type of my Tensor was correct. Thank you very much!
Alright, I will take care of my code by using try-with-resource blocks!
Thanks a lot for your advice ;)

[2021-08-13 22:17] #367 closed

[2021-08-17 14:04] pyrator commented on #365
FYI @Craigacp  @rnett  I've noticed other TF1 models sometimes require multiple named init ops e.g.
https://tfhub.dev/google/faster_rcnn/openimages_v4/inception_resnet_v2/1 requires both
        model.session().run("hub_input/index_to_string_1/table_init");
        model.session().run("hub_input/index_to_string/table_init");

[2021-08-17 14:39] Craigacp commented on #365
Looks like the table initializers are stored in a specific place in TF Hub v1 models - https://github.com/tensorflow/hub/blob/67f62bc46f58ccceabeec6fd6799236675f50f04/tensorflow_hub/native_module.py#L486, referencing  https://github.com/tensorflow/tensorflow/blob/5dcfc51118817f27fad5246812d83e5dccdc5f72/tensorflow/python/framework/ops.py#L6174. Then it initializes the rest of the variables from th

[2021-08-17 18:35] johnynek opened #368 "Efficient reduceSum over entire tensor"
In python, you can do `tf.reduce_sum(x)` to reduce all values down to a single scalar. see python docs:
https://www.tensorflow.org/api_docs/python/tf/math/reduce_sum

but here: https://github.com/tensorflow/java/blob/4c1c2718ef1c4c386891d92cf0d774d7e77a7dc1/tensorflow-core/tensorflow-core-api/src/gen/java/org/tensorflow/op/core/ReduceSum.java#L73

it seems we can only do a single axis at a time.

[2021-08-17 18:40] rnett commented on #368
`axis` does not have to be a scalar.  It's a bit confusing, since there's no indication of what shape axis should be, but I suspect it could be a 1d array, say `[0 .. shape.numDimensions]` to reduce the whole thing.  Certainly not a friendly API though.

[2021-08-17 18:41] Craigacp commented on #368
Axis can be a tensor representing all of the inputs, so you should be able to use a single `ReduceSum` to do the full reduction.

[2021-08-17 18:44] johnynek commented on #368
oh, great, thanks!

[2021-08-17 18:44] #368 closed

[2021-08-17 18:46] rnett commented on #365
Should be easy enough to do, but I think it's better done as part of `SavedModelBundle`.  Once init scope is merged I'm planning a PR to do the loading mentioned above, I can do this too.  It looks like there's the `INIT_OP` key for the init op on tf v1 models, too, so I can do that as well.

[2021-08-18 04:55] phydesmith commented on #312
@pyrator  I have tried incorporating your changes and I'm still seeing the same issues. I have tried it with a different but similarly trained model and it's giving me the same scores and bounding boxes from different image inputs.

[2021-08-18 08:55] pyrator commented on #312
I've double checked my code and added and EncodePng and saved the resulting PNG and it looks the same to me. TBH you're probably creating a rod for your own back doing it this way. I can understand you might be wanting to understand the inner workings of tensors, and how they relate to images, but there are methods to Decode images available - see my gist above. Also check out the example at
https

[2021-08-19 12:50] luobotaxinghu commented on #366
This example [TF-Java test suite](https://github.com/tensorflow/java/blob/master/tensorflow-core/tensorflow-core-api/src/test/java/org/tensorflow/SavedModelBundleTest.java#L285)  load from a dir, have some example that load byte[] of .pb to SavedModelBundle?

[2021-08-19 12:51] luobotaxinghu commented on #366
This example [TF-Java test suite](https://github.com/tensorflow/java/blob/master/tensorflow-core/tensorflow-core-api/src/test/java/org/tensorflow/SavedModelBundleTest.java#L285)  load from a dir, have some example that load byte[] of .pb to SavedModelBundle?

[2021-08-19 14:17] danilojsl opened #369 "Distributed Training with TensorFlow Java"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.X
- Are you willing to contribute it (Yes/No): Yes, when

[2021-08-19 14:23] Craigacp commented on #366
You can't do that as the `SavedModelBundle` format is a pb along with a checkpoint of the variables (well, it's conceptually a checkpoint). If you've got a frozen graph from TF 1 then you can load that directly as a `GraphDef` and import it into a `Graph`.

[2021-08-19 14:29] Craigacp commented on #369
We had a brief look into this several months ago, and it's basically a huge pile of Python (https://github.com/tensorflow/tensorflow/tree/master/tensorflow/python/distribute) we'd need to replicate into Java. Doing out-of-band distribution using MPI allreduce directly from Java would be relatively easy, though have much worse performance than the native TF solution as it wouldn't do direct GPU - G

[2021-08-19 15:22] pashashiz opened #370 "SIGABRT when creating tensor with strings"
**System information**
- OS Platform and Distribution: macOS Catalina 10.15.6
- TensorFlow installed from: maven library `org.tensorflow:tensorflow-core-platform:0.3.2`
- Java version `1.8.0_272`:
- Java command line flags: none

When creating a simple tensor with string the JVM crash (might need to loop it or do some other work until it does)
[code]

The error dump is attached [hs_err_pid72721.lo

[2021-08-21 01:59] karllessard commented on #312
While @pyrator is right that using one of the `Decode*` op is safer that manipulating the image directly, you can still convert directly a `BufferedImage` to a `Tensor` by manipulating its pixels direclty, I have an application running in production for years doing this and it works fine.

Please @phydesmith , take a look at this [snippet](https://discuss.tensorflow.org/t/creating-float-tensors-fr

[2021-08-21 02:22] karllessard commented on #370
Hi @pashashiz , just before we start the investigation, can you please retry with the current `0.4.0-SNAPSHOT`? A [fix](https://github.com/tensorflow/java/commit/709f5703f60fa17e42d8bb4345b6bb0b6162d4c0) related to OOM when using String tensors that has been added to it, might fix your issue as well?

[2021-08-21 02:37] itechbear opened #371 "Memory leak with TString.tensorOf(Shape shape, DataBuffer<String> data)"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): `Yes`
- OS Pla

[2021-08-21 02:39] itechbear commented on #370
I run into this problem too. Besides, I found a potential memory leak problem with the TString type. See #371

[2021-08-21 02:42] karllessard commented on #371
Same comment as in #370, can you please do a quick test with `0.4.0-SNAPSHOT`?

[2021-08-21 02:44] itechbear commented on #371
NP. will give it a try.

[2021-08-21 03:02] itechbear commented on #371
The snapshot version is quite promising. With 65536 iterations, the `TString.tensorOf` call only used **0.47%**. When will it be released?

![image](https://user-images.githubusercontent.com/3747635/130308439-da5637e4-e7e6-489b-8d02-5fd2181727d6.png)

[2021-08-21 03:33] itechbear commented on #371
It seems the memory leak problem still exists. The memory usage of `TString.tensorOf` calls grows as the number of iterations increases.

[2021-08-21 06:10] itechbear commented on #370
In my case, the problem disappears under TF java `0.4.0-SNAPSHOT`.

[2021-08-21 06:11] itechbear commented on #371
I did another test by setting JVM max heap size after upgrading TF java to `0.4.0-SNAPSHOT`. With `-Xmx47m`, 4 iterations can pass while 65536 iterations would cause OOM.

![image](https://user-images.githubusercontent.com/3747635/130312448-e840b9b8-b230-4cc3-bff8-55fcac8ecc7e.png)

[2021-08-22 10:08] pashashiz commented on #370
@karllessard turned out the issue was related to #322 and in `0.4.0-SNAPSHOT` that is fixed. I was finally ably to migrate my small project to your latest version (https://github.com/pashashiz/scanet3)

[2021-08-22 10:08] #370 closed

[2021-08-24 16:32] Craigacp opened #372 "TF-Java SavedModels can't be loaded into TF Python"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04 x86\_64): macOS 11
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 0.3.1 - 0.4.0-SNAPSHOT, loading into TF 2.6.0.
- Java version (i.e., the output of `java -version`): J

[2021-08-24 17:21] karllessard commented on #372
It could be interesting to see if the name of the save ops in the graph (i.e. those under the `save/` subscope) are matching the ones provided in the `SaverDef` proto coming with the saved model bundle, @Craigacp can you try to output this?

[2021-08-24 17:55] karllessard commented on #372
Also what I find obscure is that it looks like the Python code is trying to load the model in a way that it could be executed eagerly.

Can you try disable default eager execution prior to load the model (probably by calling `tf.compat.v1.disable_eager_execution()`)?

[2021-08-24 18:19] karllessard commented on #372
One more suggestion (sorry I can't try them out as I don't have access to my laptop right now) but ot looks like Python is expecting the filename tensor name provided in the `SaverDef` to use a tensor notation, i.e. `save/filename:0` instead of `save/filename`. Can you update the [TF Java code](https://github.com/tensorflow/java/blob/242931c7555015c3ae45961a89b7538846e51b13/tensorflow-core/tensorf

[2021-08-25 02:54] karllessard commented on #372
I was now able to do a quick test and it seems that my last [suggestion](https://github.com/tensorflow/java/issues/372#issuecomment-904869705) is working, I'll work on a patch

[2021-08-25 15:09] tomaspiaggio opened #374 "Simple Project Not Working"
# Host description
- **OS**: Windows 10
- **Memory**: 16GB
- **CPU**: Intel i7 8700
- **GPU**: Nvidia GeForece RTX 2080
- **Java Version**: 8

[Simple project to replicate the problem](https://github.com/tomaspiaggio/laughing-octo-eureka)

# Problem description

The main method is straight out of the docs [here](https://www.tensorflow.org/jvm/install#example_program). I can't seem to make it work.

[2021-08-25 15:40] tomaspiaggio commented on #374
I just tested the same code on my mac and it worked perfectly. Could there be an issue with Windows specifically?

[2021-08-25 16:03] Craigacp commented on #374
Did Maven download `tensorflow-core-api-0.3.1-windows-x86_64.jar` to your local Maven cache? That jar should contain `jnitensorflow.dll` and `tensorflow_cc.dll`. It's available here - https://repo1.maven.org/maven2/org/tensorflow/tensorflow-core-api/0.3.1/.

[2021-08-29 04:31] rnett commented on #374
Your project works fine for me, and I've been able to use tensorflow java in other projects, so this is likely something on your end.  Try removing the `~/.m2/org/tensorflow` directory maybe?  And make sure you're building and running through maven, not IntelliJ (see [this](https://www.jetbrains.com/help/idea/delegate-build-and-run-actions-to-maven.html#delegate_to_maven)).

[2021-08-30 21:43] Craigacp commented on #372
This should be fixed in 0.3.3 which is in the process of being released. Once that's done we'll get the fix merged into master as well.

[2021-08-31 01:55] Pekary opened #380 "Is there any way to use different gpu in multiple sessions?"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.3.4
- Are you willing to contribute it (Yes/No): Yes if

[2021-08-31 02:18] Craigacp commented on #380
I still don't think this is supported by the core TF runtime, as you mention the core data structures are per process not per session or context. Uber hacked around it (https://github.com/uber/neuropod/pull/487), which I'd be reluctant to do in TF-Java as it would interact poorly with our goal of building a Java API equivalent of the Python API. I think this is deeply baked into TF (e.g. https://g

[2021-08-31 03:18] Pekary commented on #380
ok, i'll try the Uber's workaround, thanks!

[2021-08-31 03:18] #380 closed

[2021-09-03 15:54] NeverSayXz commented on #343
Our team meet the similar problem:  java.lang.OutOfMemoryError: Physical memory usage is too high: physicalBytes(4216M) > maxphysicalBytes(32768M) .
This OOM error occurs after running our service for several hours.
0.3.2 CPU version: No memory leak.
0.3.2 GPU version: has memory leak.

[2021-09-03 21:26] JimClarke5 opened #381 "Op Generated code locally does not match master repository"
My local repository says it is 100% in sync with tensorflow/java master.
I do a `mvn clean`, `mvn install`,  then all the generated `Ops` are updated and next it wants me to recommit them.
Either something is wrong on my end, or the master repository is old.
I was expecting the locally generated classes to be the same as the main repository, as I am only working in `framework` at the moment.

@rne

[2021-09-03 21:51] rnett commented on #381
Yeah, that's what #375 is for.  Some of the ops weren't generated when they were added, and I forgot to commit the new generation for the init scope PR.

[2021-09-03 21:54] JimClarke5 commented on #381
Which is is supposed to be? The ones I generated locally or the ones on the repository?

[2021-09-03 22:23] rnett commented on #381
Mostly what you generate locally, but apparently there's a few ops that are misclassified.

[2021-09-13 14:16] raftaa opened #383 "cuDNN failed to initialize when using setPerProcessGpuMemoryFraction"
Our system:

- **Tensorflow 0.3.2**
- **java version "1.8.0_211"**
- **Ubuntu 18.04.2 LTS**
- **CUDA Version: 11.4**
- **Geforce RTX 2080 Ti**

In Python we managed to restrict the GPU memory of our TF process to a certain amount of the GPU menory with:
`tf.config.set_logical_device_configuration(gpu, [tf.config.LogicalDeviceConfiguration(memory_limit=8192)])`

In Java we tried to use setPerProces

[2021-09-13 14:30] Craigacp commented on #383
Is there any other logging coming out of TF? Maybe a cuDNN initialization error further up?

[2021-09-14 10:07] raftaa commented on #383
In Python we're using TF 2.5.0.

Logging is a bit difficult because our own logger won't print the TF logging. I extracted the code to a simple test in order to get the logging but then the Exception wasn't thrown anymore. Then I also couldn't reproduce the Exception in Yesterday's environment. Didn't changed the code though. Maybe it happens only under certain circumstances...

Anyway, even thoug

[2021-09-14 12:25] raftaa commented on #383
Just tried TF 0.3.3 which is also not reducing the GPU memory.

[2021-09-15 04:24] #383 closed

[2021-09-15 04:29] raftaa commented on #383
I noticed that the GPU memory is allocated when loading a model with "SavedModelBundle.load(...)". Hence the GPUOptions have to be set before that. One can do this by using the "loader" from the SavedModelBundle:

[code]

..with this GPU memory is allocated correctly i.e. T F is using only 80%. Also the TF Exception mentioned above didn't occur anymore. I close the issue for this reason.

[2021-09-19 00:22] rnett opened #384 "Can't use GPU on latest snapshot"
On Windows, I can't use a GPU device even when depending on `tensorflow-core-platform-gpu`, and I don't see the dll finding output.  Things work fine on `0.3.3`, but not on `0.4.0-SNAPSHOT` so I suspect it's related to the 2.6.0 upgrade.

[2021-09-19 03:50] saudet commented on #384
Set the "org.bytedeco.javacpp.logger.debug" system property to "true" to
get additional information printed on the console.

[2021-09-19 03:55] rnett commented on #384
Here's the test:
[code]
here's the log:
[code]

The only suspicous thing I see is:
[code]
and I see that on `0.3.3` as well (where it works fine).

[2021-09-19 03:59] rnett commented on #384
Comparing out `.bazelrc` to tensorflow's, it seems like the cuda options changed, i.e. there is no `using_cuda` any more.  Additionally, our `.bazelrc` refers to cuda `10.1` while tensorflow's uses `11.2`.  That's my suspicion for the culprit.

[2021-09-19 03:59] rnett commented on #384
We really should try to get some GPU CI tests.

[2021-09-19 16:03] karllessard commented on #384
+1 to that, but it's been a while since I heard from Google folks even after pinging them many times for this specific request.

Let's update the bazelrc file and see how it goes then, I was also suspecting that we needed to merge it in ours. Are you able to test that out locally @rnett or should we push right away a new version and see how it goes?

[2021-09-19 22:13] rnett commented on #384
I should be able to test it locally, I'm running native builds for the custom gradient PR anyways.

I'm also seeing a new op `QuantizedConcatV2` when I build locally, that doesn't seem to have been added in the 2.6 update.

[2021-09-20 07:57] rnett commented on #307
FYI @JimClarke5 Cast has a gradient in 2.6 (which is used in snapshots).

[2021-09-20 11:38] JimClarke5 commented on #307
@rnett

Yes, I saw that last week. However, it turns out I was passing the wrong arguments to my loss operation as I should have included the trainable variables in the loss operation. When I did that the Cast error went away, even though  CastGrad existed. So though the error message complained about missing Cast, that was not the true error.

Right now I am adding a testMinimize method to all th

[2021-09-20 13:31] Craigacp commented on #307
You should compare the C API gradient code (https://github.com/tensorflow/tensorflow/blob/5dcfc51118817f27fad5246812d83e5dccdc5f72/tensorflow/cc/framework/gradients.cc#L438) to the Python TF v1 gradient code (https://github.com/tensorflow/tensorflow/blob/1bb4e4fce0c992e2d995e1663138ad98e957e050/tensorflow/python/ops/gradients_impl.py#L44). The latter is full of locks and control dependencies, and

[2021-09-20 21:00] Craigacp commented on #307
I agree the C API version is completely different, but the fact that it's lacking the locking and dependencies is the reason it doesn't produce the same output as the Python v1 stuff.

I think we need to wrap the C++ API to get the gradient tape to work as there isn't a C API for it (https://github.com/tensorflow/tensorflow/issues/47748). I know @saudet started it (https://github.com/tensorflow/ja

[2021-09-22 10:13] brychcy commented on #357
This has been fixed on the master and in 0.3.3 so this bug can be closed

[2021-09-22 10:13] #357 closed

[2021-09-29 02:09] yeison commented on #252
Are there any updates on building tf-java for M1?   I'm willing to upgrade my M1 to macOS 12 to test it out.

[2021-09-30 03:43] yeison commented on #252
It turns out that with the latest macOS betas, you can install them on separate partition from your main partition.

[2021-10-05 17:13] JimClarke5 opened #386 "Is there a reason why we have to use Java 8 for the build?"
If I don't use Java 8, I get the following error:
I use JDK 17 by default on my box, I have also seen this error with JDK 11.
Can this be addressed?

[code]

[2021-10-13 10:08] HichemMaiza opened #387 "Error saving SavedModel Using the Exporter API"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2021-10-13 13:30] karllessard commented on #387
Thanks for the report @HichemMaiza , I'll take a look at it. Meanwhile, out of curiosity, would you mind trying the same thing but with our actual snapshot (`0.4.0-SNAPSHOT`)? Check for the instructions [here](https://github.com/tensorflow/java/#snapshots). I know that there have been some rework around saved models export/imports in Java.

[2021-10-15 00:58] karllessard commented on #387
Hi @HichemMaiza , I've just created PR #388  to solve this issue, that was a very small fix. Thanks a lot for documenting the issue so well, that was very useful. I was able to reproduce the problem and now it's working with the following code:

[code]

[2021-10-15 16:46] rnett commented on #387
Will do.  My guess is that somehow, there is a placeholder in the Python's model init scope, which gets exported in the saved model.  I would think this is a bug on their end, since I can't think of a way that would work, but we'll see.  @HichemMaiza would it be possible for you to provide the saved model bundle?

[2021-10-18 15:20] karllessard commented on #387
@rnett  even if it is a bit unexpected to have a placeholder added to the init scope, it looks like it can happen using basic Keras like @HichemMaiza did above. Can we simply remove this [validation](https://github.com/tensorflow/java/blob/7aef1a6a0c8fc30f1348ab03c3bfaa614ed673ef/tensorflow-core/tensorflow-core-api/src/main/java/org/tensorflow/Graph.java#L591), or maybe comment it out, to unblock

[2021-10-20 01:44] #387 closed, assigned to nobody

[2021-10-20 13:26] altavir commented on #117
Dot is one of the most time-consuming operations. So it will require some work to do it properly. I am experimenting with KMath wrapper for tensorflow lazy operations, so I need it to implement the API.

Also, there is no general registry of operations which makes it a little bit tricky to understand how to do different things only from operation names (I am not familiar with the Python API).

[2021-11-08 12:50] kgoderis opened #394 "Strategies for getting Tensorflow-Java on Apple Silicon?"
Like some others I am in need to get Tensorflow-java running on an M1 based machine, certainly now that Apple has released a Tensorflow distribution for M1

[I know there is https://github.com/tensorflow/java/issues/252 but I want to revive the discussion after Apple's recent efforts]

Before even to attempt doing this I was wondering of any of the underlying strategies do make sense, or alternati

[2021-11-08 14:54] kgoderis commented on #394
Self-note. It seems that the above error is due to me building against a 1.8 JDK, instead of something more recent

[2021-11-08 15:19] Craigacp commented on #394
Don't try and compile TF-Java using Rosetta, you'll pull in a TF binary which has AVX instructions which will cause a SIGILL and take down the JVM.

I've not tried to compile it on an M1 since we bumped to TF 2.6.0 and made some build changes, I can take a look at doing that.

As for other ML frameworks, I've personally got XGBoost and ONNX Runtime working in Java on an M1 Mac and contributed any

[2021-11-08 16:29] kgoderis commented on #394
@Craigacp Building under Rosetta but using a TF build config file without the AVX instructions is not an option then ? I was not aware that it is pulling a TF binary, I was under the impression that it pulls the TF repo and does compile TF as part of the TF-J build process.

[2021-11-08 16:32] kgoderis commented on #394
@Craigacp Any pointer on how to get ONNX going, because the this what I get on the home page? LOL
![image](https://user-images.githubusercontent.com/5459062/140780869-9d55873e-7432-4526-8a78-fc1978b63aad.png)

[2021-11-08 16:35] Craigacp commented on #394
Java is slow under Rosetta as it messes with the JIT. You could compile TF without AVX support under Rosetta, but it would probably be fairly slow, and at that point I'm not sure what the utility of it is.

No cross-compiling. Checkout the ONNX Runtime repo on a M1 Mac and then compile it as normal for java `./build.sh --update --build --config Release --parallel --build_java --test`.

[2021-11-08 16:46] kgoderis commented on #394
Well, my main dev machine is now an M1, obviously. So, the utility lies in developing TF models locally, but consequently then train them on a TPU/x86 cloud-based machine. I just want to avoid any pain in my development process.

In order to compile it under Rosetta I presume that I need an x86 JVM installed on top of other x86 tools like Bazel, right ?

[2021-11-08 23:52] saudet commented on #394
Some people seem to be able to get arm64 binaries for TF 2.6.0, for example, see https://github.com/tensorflow/tensorflow/issues/52160#issuecomment-933987607.
If that is true, running the build for TF Java with a command line this should work:
[code]

[2021-11-14 11:35] kgoderis commented on #394
@saudet That did not work unfortunately.

I am able to compile the Tensorflow repo (https://github.com/tensorflow/tensorflow/issues/52160#issuecomment-968173580), but then Tf-J fails with

[code]

On the other hand, diving into the ./tensorflow-core/tensorflow-core-api where the TF core should be built, I was able to start the compilation (`sudo bazel build --config opt --cpu=darwin_arm64 --host_c

[2021-11-14 11:46] kgoderis commented on #394
Update : Bumping Google's errorprone to <errorprone.version>2.10.0</errorprone.version> fixes this error

[2021-11-14 11:48] kgoderis commented on #394
Update: Changing .bazelrc in tensorflow-core/tensorflow-core-api to

[code]

gets the compilation of that maven compile unit going. Still contains references to the setup on my dev machine, but we are advancing ;-)

[2021-11-14 12:40] kgoderis commented on #394
Some of you will be happy. I got the whole thing compiled, however I had to skip tests as it was failing on that part, and there were some warnings on TARGET_OS_IPHONE. Apart from that, it kinda looks good:

[code]

[code]

[2021-11-15 08:55] kgoderis commented on #394
The build fails with Java 8 (arm64)

[code]

[2021-11-15 19:01] Craigacp commented on #394
If it builds with 11 why do you need to build it with 8? It should produce Java 8 compatible jar files even when compiled on 11.

[2021-11-15 19:18] kgoderis commented on #394
Because I want to integrate this in a project which uses Spark NLP, and that only runs on a Java 8 VM. As far as I understand, Java 11 compiled jars do not run ok older JVMs

[2021-11-15 19:35] Craigacp commented on #394
TF-Java is compiled on 11 but targets 8, and so will produce class files which are compatible with Java 8.

[2021-11-15 19:50] kgoderis commented on #394
Ah... I was not aware of this. That means we are set to go. Will you pick up what we did and get the jars onto sonatype?

[2021-11-15 19:54] Craigacp commented on #394
I'm trying to replicate what you have on my M1 Mac so I can figure out what the test failures are, but I'm getting issues compiling protobuf.

[2021-11-15 22:26] kgoderis commented on #394
@Craigacp I think I solved that by altering .bazelrc cfr https://github.com/tensorflow/java/issues/394#issuecomment-968668060

[2021-11-15 22:27] Craigacp commented on #394
I had to make some modifications to the pom files to get it to build the appropriate jars, and having to run the build as the superuser is worrying to me. I also had to add my JVM as a bazel build flag too. However I didn't need to do anything else to my `.bazelrc` other than `build --incompatible_restrict_string_escapes=false`. My build does now pass all the tests with those modifications.

We're

[2021-11-15 22:30] kgoderis commented on #394
If I remember well the tests failed on a mismatch of dimension on the input matrix on a NN layer. Mind you that I tried to compile against Java 8 cfr my misunderstanding.

[2021-11-15 22:37] Craigacp commented on #394
Could you try and build a clean checkout of this branch - https://github.com/Craigacp/tensorflow-java/tree/apple-silicon ? It'll require sudo, and I don't want that in an actual build, but it would be a useful check if someone else can build it.

[2021-11-15 22:43] kgoderis commented on #394
@Craigacp Trying to do so. However, need Google Error Prone bumped to 2.10.0, and what about Bazel? 3.7.2 or 4.2.1 ?

[2021-11-15 22:47] kgoderis commented on #394
In fact, I remember I went for Bazel 4.2.1 because there are no pre-compiled Bazel binaries For MacOS arm64, and I wanted to avoid to Compile Bazel from source

[2021-11-15 23:20] Craigacp commented on #394
Error prone should work on Java 11. That build is hard coded to expect a Azul Zulu 11 installed in the system.

[2021-11-16 00:00] kgoderis commented on #394
@Craigacp Are you sure about that?

[code]

Azul Zulu 11 + Error Prone 2.6.0 throws an error on my machine

[2021-11-16 00:03] rnett commented on #394
Are you still trying to use Bazel `4.2.1`?  Because that's what the error is complaining about.  We require `3.7.2` because tensorflow does.

[2021-11-16 00:05] Craigacp commented on #394
I set the bazelversion to 4.2.1. Maybe it's not cleaned the build properly?

[2021-11-16 00:08] kgoderis commented on #394
It does not work
 - Zulu 11 + Error prone 2.6.0 -> error
 - still needs sudo
 - Bazel 4.2.1 needed as no arm binaries for 3.7.2 are available

[2021-11-16 00:08] kgoderis commented on #394
Yes, but I got the whole thing compiled with 4.2.1 last weekend

[2021-11-16 00:32] saudet commented on #394
Ah, yes, we'll need to update the profiles in the pom.xml files a bit like pull https://github.com/bytedeco/javacpp-presets/pull/1092 for this to work. Are you saying you've already done this? Or should I do it?

[2021-11-16 00:39] Craigacp commented on #394
I have already done it, but it'll need a little more work before it gets merged to make it conditional as we won't have builds on Maven Central.

Please check your environment. Error prone 2.6.0 works with Java 11 but fails with Java 17. I know it still needs sudo, but the sudo is now inside the build script so it's a little minimized. The bazelversion is set to 4.2.1 so it should pull that in aut

[2021-11-16 08:50] kgoderis commented on #394
@Craigacp I am not sure what I am missing here:

[code]

[2021-11-16 16:27] DevinTDHa commented on #394
Hi everyone,

I am also currently trying to build the module on my Apple silicon machine (0.4.0-SNAPSHOT with Zulu SDK 11 on macOS Monterey).

I was able to compile it (however quite messily and independently from @Craigacp's changes) and for me it passes the tests.

Checking out Adam's fork and compiling it works for me too. @kgoderis I'm sorry that I can't help you, I had completely different is

[2021-11-16 18:52] Craigacp commented on #394
@kgoderis  Running `sudo mvn package` runs maven as root with a different environment, where I assume it's picking up Java 17 by default. For example on my machine where I have `JAVA_HOME` set to Zulu 11, when running maven as root it pulls in Java 17 as that's my system wide default:
[code]
Running as root can also cause Python issues as for some reason the TF native library build requires numpy.

[2021-11-16 19:01] Craigacp commented on #394
@DevinTDHa Error-prone does flag a bunch of issues with TF-Java, some of which are due to the generated protobuf code which we can't change, and others are things that we will fix eventually but haven't got to yet.

Those jars won't be built as part of the TF-Java build process, they should be pulled in by Maven if you depend on TF-Java, so it's expected that they aren't present in our build. TF-J

[2021-11-16 21:42] kgoderis commented on #394
@Craigacp Thanks for pointing out sudo java --version. Indeed, I have Java 15 in that environment

[2021-11-17 23:01] JimClarke5 opened #396 "Support for Model load - General issues with Model loading"
1) Is there a way to expose the TF C++ file `tensorflow/c/checkpoint_reader.cc` (class `CheckpointReader`) to the Java framework? We need this to restore weights and variables from checkpoints and saved models. (@rnett @karllessard @Craigacp). TF Python calls out to this C++ class for this functionality.

[2021-11-17 23:02] rnett commented on #396
Can you use `Session.load`?  It's not the same but it's somewhat close.

[2021-11-17 23:17] JimClarke5 commented on #396
I will have to investigate it.

[2021-11-22 16:29] arianmaghsoudnia opened #397 "Unexpected problem in creating a tensor on saved model session."
**System information**

- OS Platform and Distribution: Linux Ubuntu 20.04 x64
- TensorFlow installed from: pip for Python 3.9; Maven for Java
- TensorFlow version : 2.7.0 on Python; 0.3.3 on Java
- Java version : openjdk 11.0.11 2021-04-20
- Python version : 3.9
- CUDA/cuDNN version: cuda_11.5.r11.5/compiler.30411180_0
- GPU model and memory: Nvidia Geforce 960m

**Describe the current behavior**

[2021-11-22 16:35] Craigacp commented on #397
It's saying it's a duplicate because there's a const node in your python graph and the Java code is trying to use the same name. I think the node naming logic is different in the latest snapshot, so try that.

A workaround is to make a subscope with a name before creating any Java ops.

[2021-11-23 11:01] arianmaghsoudnia commented on #397
Thank's for your response; I confirm that creating a subscope solves the issue.
I found out that on the same instance of Ops with subscope, you can define multiple consts as the makeUnique method of op/NameScope takes care of the similar name prefixes. As for input1,  and input2 in the code below the NameScope prefixes are child/Const and child/Const_1 respectively. Nonetheless trying to create in

[2021-11-23 20:18] Craigacp commented on #397
The naming and scoping logic has been rewritten in the current `master` branch, and that will come with the `0.4.0` release. Can you check the `0.4.0-SNAPSHOT` releases to see if they fix that issue? Otherwise we can look at the naming logic again.

[2021-11-24 17:45] phydesmith commented on #312
I'm going to close this issue and move to the thread Karl linked for further discussion as my main problem was solved.

[2021-11-24 17:45] #312 closed

[2021-11-29 14:59] kirillgroshkov commented on #394
What is the current status for this?
Is there anything we (community) can help to make it work on M1?

Our use case is that we need to be unblocked to develop ML Inference on M1 machines. We don't currently need to Train ML models with tensorflow-java (we use Python for that, which already works with M1).

[2021-11-29 15:07] Craigacp commented on #394
Using the branch I mentioned above it should compile and produce macos-arm64 jars. I'll respin the branch for the 0.4.0 release at some point this week as it's currently targeting TF 2.6.0, and 0.4.0 ships with TF 2.7.

We can't provide binaries until there is some build support in Github Actions for it, or we figure out cross compiling from a macOS x86_64 environment.

If you can figure out why i

[2021-11-29 15:56] kirillgroshkov commented on #394
Ok, thanks, I'll try to build it in that branch and report here if I had a success or failure (to hopefully help others do the same).

[2021-12-01 00:41] kirillgroshkov opened #400 "Possibility to deploy tensorflow-java to AppEngine"
I was trying to run ML Inference with tensorflow-java deployed to AppEngine, but quickly failed with this error:

[code]

Which means that AppEngine forbids to deploy any single file that's bigger than 32Mb. And the jar for `linux-x86_64` is ~62Mb right now. It is confirmed there: https://cloud.google.com/appengine/quotas#Code

Just checking if someone has any advice/workaround in mind?

Like, is

[2021-12-01 00:51] rnett commented on #400
Try making a fat jar and running it through proguard (for the shrinker).  I don't know what rules you would need, it's probably going to be trial and error.  If/once you get a working set we should document it here, and there might be a way to distribute them in the jars.

[2021-12-01 13:10] kirillgroshkov commented on #400
Oh that's a cool idea! I'll explore that! 👍

[2021-12-02 15:33] karllessard commented on #400
Our uncompressed TensorFlow library alone is 375M, which is slightly bigger than the one used for Python (312M), I think the difference is because we also export the C++ client API is ours. Still, I have no clue how we can distribute a library that big in a smaller jar...

[2021-12-02 15:36] karllessard commented on #400
Even if you only do inference, you need all the TensorFlow ops and kernels to be present in your library in case your graph is using one of them. I haven't checked but I suspect that most of the bytes of this library are taken by the ops (over 1K).

[2021-12-02 16:13] rnett commented on #400
Another option to consider is XLA AOT.  I'm not entirely sure how you would use that from Java but you should be able to export the function and work from there.

[2021-12-03 12:22] arianmaghsoudnia opened #401 "SavedModelBundle problem loading in version 0.4.0"
**System information**

- OS Platform and Distribution: Linux Ubuntu 20.04 x64
- TensorFlow installed from: pip for Python 3.9; Maven for Java
- TensorFlow version : 2.7.0 on Python; 0.4.0 on Java
- Java version : openjdk 11.0.11 2021-04-20
- Python version : 3.9
- CUDA/cuDNN version: cuda_11.5.r11.5/compiler.30411180_0
- GPU model and memory: Nvidia Geforce 960m

**Describe the current behavior**

[2021-12-03 13:45] arianmaghsoudnia commented on #401
Actually, I found the problem is not specifically related to SavedModelBundle; I faced it as it was the entry point to my code. Using any method of any classes traces back to this error.

[2021-12-03 15:42] karllessard commented on #401
Hi @arianmaghsoudnia , so just to be clear, are you using the newly released 0.4.0 artifacts or the old 0.4.0-SNAPSHOTs?

Also can you post how you've set your dependencies to TF Java in your pom/gradle file?

[2021-12-03 16:29] arianmaghsoudnia commented on #401
Initially I tried as the documentation say:
[code]
Which caused the aforementioned error.
Now I switched to:
[code]
So I checked the installed repository and found out that "ndarray:0.3.3", core-api:0.4.0 for all platforms, and core-platform:0.4 are installed. Please see the snip of it from my project library:
![image](https://user-images.githubusercontent.com/55542530/144637858-0f0c6cb1-ec9a-4371

[2021-12-06 15:36] DevinTDHa commented on #394
Hello Everyone,

For anyone who might need it, I uploaded the compiled jars for myself here:

https://github.com/DevinTDHa/precompiled-tf-jni-m1

Hope it might be useful to someone else as well.

[2021-12-08 11:21] arianmaghsoudnia commented on #401
I found the problem; It was the IntelliJ causing trouble! I tested directly using Maven CLI and also Eclipse and surprisingly the problem did not reproduce there. I did a clean install/ Invalidating cache/Reloading project of Intellij and none of them were enough to make the problem go away.
It is not a relevant issue of Tensorflow anymore but still, I provided a repo if you want to take a look at

[2021-12-08 18:58] karllessard commented on #401
Aaah of course yes, I often have this problem with IntelliJ as well. What works often for me (but not always) is to do a `mvn install` from the CLI first, then I reimport the Maven settings from IntelliJ and rebuild.

But be aware that often after importing Maven settings in IntelliJ, it tries to bind to the `OperatorProcessor` annotation processor, which it couldn't find for some obscure reasons.

[2021-12-08 19:36] rnett commented on #401
@arianmaghsoudnia are you delegating the build/run action to maven?  Or trying to use IntelliJ's built in build system?  I usually have much more success with delegating to maven, however I checked out your project and both work fine for me.  It's probably a configuration issue, can you try re-cloning your project somewhere else and trying there?

[2021-12-09 10:04] arianmaghsoudnia commented on #401
Thank you, guys!

@karllessard  The processor FQ Name list of mine is clear, to begin with.

@rnett  Recloning the project did not solve the issue;  I am using native IntelliJ IDEA builder to build but after your response, I started delegating it to the Maven and it did not work first. However, when I additionally replaced the Maven home path from Bundled(Maven 3) to the latest one I directly down

[2021-12-14 20:03] adiroy05 commented on #228
sir, i can help over it

[2021-12-15 14:14] karllessard commented on #228
Please do @adiroy05 , feel free to submit a PR, thanks!

[2021-12-21 13:57] carlosuc3m opened #402 "Loading two different Tensorflow versions with different classloaders"
Hello, I am creating a program that makes inference with already trained models and I want to allow changing the tensorflow versions on runtime. For that I am loading dynamically the JARS needed to run Inference with TF Java in a separate classloader. These JARs are not in the classpath of the main program. I expected that when the ClassLoader is garbage collected, the native libraries loaded by t

[2021-12-21 23:25] karllessard commented on #402
According to the [JNI Spec](https://docs.oracle.com/javase/1.5.0/docs/guide/jni/spec/invocation.html#library_version), native libraries should effectively be unloaded when its class loader is garbage collected. How do you verify if the previous loader have been collected?

@saudet , did you ever tried @carlosuc3m 's setup with JavaCPP before?

[2021-12-22 00:00] saudet commented on #402
Yes, JavaCPP can do that. I'm pretty sure TensorFlow can't be unloaded
though...

[2021-12-22 00:44] karllessard commented on #402
Also @carlosuc3m , between which versions do you need to switch?

[2021-12-23 00:45] saudet commented on #402
@carlosuc3m The JVM may not run GC fast enough, be sure to call System.gc() a few times, wait a couple of seconds, call System.gc() a couple more times, etc. You'll need to figure out what sequence works well enough for your case. It looks like we can unload TensorFlow, but it will end up creating memory leaks:
https://discuss.tensorflow.org/t/dlopen-dlclose-tensorflow-so-cause-memory-leak/3639
If

[2021-12-31 04:58] chaowenGUO opened #403 "how to load the python tenserflow model to java tensorflow and predict new image"
Hi:

I use the following code to construct a mnist digit model and save it to model
import tensorflow, numpy
(x_train, y_train), (x_test, y_test) = tensorflow.keras.datasets.mnist.load_data()
x_train, x_test = x_train / 255, x_test / 255
model = tensorflow.keras.models.Sequential([
  tensorflow.keras.layers.Flatten(input_shape=x_train[0].shape),
  tensorflow.keras.layers.Dense(128, activation='rel

[2021-12-31 17:37] Craigacp commented on #403
By default Keras saves models in TF's `SavedModel` format. That can be loaded using our `SavedModelBundle` class, which loads in the functions defined in the model. You can then call those functions and supply them the input. I'd expect your saved model to already have a softmax on the top given the way it's defined, but if not you can pass it through our Softmax op to get the same effect.

[2022-01-06 12:32] lucaro opened #404 "TensorFlow.loadLibrary not working on Windows"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04 x86\_64): Windows 10
- TensorFlow installed from (source or binary): 2.4.1
- TensorFlow version (use command below):
- Java version (i.e., the output of `java -version`): 11
- Java command line flags (e.g., GC paramete

[2022-01-06 12:51] carlosuc3m commented on #402
Thank you for your answer. Does the unloading depend on the specifications of the computer then?

@karllessard It should be able to change between all the TEsnorflow 2 availale versions. Although if there is complete backwards compatibility between the latest one and the others it should not matter
Regards and thank you for your answer,
Carlos

[2022-01-06 14:59] karllessard commented on #404
It is strange indeed that Windows binaries are `.so` but not DLLs... but my first guess would be that it fails to load the same way it works on Linux because TensorFlow is built monolithic on Windows, as you can see [here](https://github.com/tensorflow/java/blob/f07e89e5c132594178b0fb3be9829c09e0f24eef/tensorflow-core/tensorflow-core-api/tensorflow.bazelrc#L324)

The result of this is that you'll

[2022-01-06 15:28] lucaro commented on #404
Thanks for the quick reply. If I understand the TensorFlow source correctly, the `loadLibrary` call is just a wrapper for the operating system call to load a system lib, both for the Python as well as the Java version. Is the monolithic build on windows only done for TensorFlow Java or also for Python? It looks the same to me, but I have very little experience with bazel, so I'm not sure I'm readi

[2022-01-07 01:53] karllessard commented on #404
Unfortunately I don't have a Windows setup available. It could be very helpful if you can dump out the list of dependencies of one of the dll/so and share it with us, here are some suggestions on how to do it: https://stackoverflow.com/questions/7378959/how-to-check-for-dll-dependency

[2022-01-07 07:58] lucaro commented on #404
Thanks, that was actually very insightful. I ran `dumpbin` on several of the `.so` files, the output was always the same:

[code]

All of the DLLs depend on `_pywrap_tensorflow_internal.pyd` which would be loaded by the python environment. This also explains [this somewhat related comment on stackoverflow](https://stackoverflow.com/a/50115118) which I had dismissed before as not related enough. Al

[2022-01-07 09:39] saudet commented on #404
@lucaro It is possible to link the binaries distributed for Python with the JNI wrappers, see issue https://github.com/tensorflow/java/issues/226#issuecomment-790329027. On Windows, since I don't think we can hack this with symbolic links, we probably need to build from source after patching the presets here:
https://github.com/tensorflow/java/blob/master/tensorflow-core/tensorflow-core-api/src/ma

[2022-01-07 09:58] lucaro commented on #404
I'm not sure I understand what you mean. When I try to load `_pywrap_tensorflow_internal.pyd` with `TensorFlow.loadLibrary()` I get the following:

[code]

It certainly does *something* as indicated by the warning about missing cuda, which does not appear otherwise, but crashes afterward. Does this go into the direction of what you had in mind?

[2022-01-07 10:01] saudet commented on #404
It doesn't work because that way it tries to load both tensorflow_cc.dll and _pywrap_tensorflow_internal.pyd. We can't do that. We can only load a single version of TF Core in the same process.

[2022-01-07 10:27] lucaro commented on #404
Is there a way I can prevent tensorflow_cc.dll from being loaded?

[2022-01-07 11:44] saudet commented on #404
Yes, like I'm saying for the third time now, by linking with _pywrap_tensorflow_internal.pyd. How many more times do you need to be told? :)

[2022-01-07 13:13] lucaro commented on #404
I'm sorry for missing the point here. This would require changing the line you indicated and then rebuilding TensorFlow Java, right? This would not be something I could do quickly since I don't have the build environment setup, so far only having used the maven artifacts you so graciously provide. I was hoping there was a way to do such modifications for testing purposes without having to rebuild

[2022-01-07 16:09] karllessard commented on #404
Thanks for the dependency dump @lucaro , yes looks like it is `_pywrap_tensorflow_internal.pyd` that is playing its dark magic on Windows.

Like @saudet suggested (supposedly many times ;) ), we can try building artifacts that links directly to this binary instead of the TensorFlow build we distribute. If that works, we could distribute that artifact as a new platform for TensorFlow Java (e.g. `wi

[2022-01-07 17:18] lucaro commented on #404
Hey @karllessard, thanks a lot for this clarification. Having TensorFlow-Text working on Linux is sufficient for my purposes for the time being and I don't currently have the capacity to get into the whole build process on Windows. I might tinker with it if I find some time, but I don't know when that's going to be. I think the idea of @saudet to link against the python binary is great though and

[2022-01-08 00:13] saudet commented on #404
@lucaro Yes, it requires rebuilding from source, but since this repository uses GitHub Actions to perform the builds, anyone can very easily create a fork to perform their own custom builds.

@karllessard One thing we could do is rename `tensorflow_cc.dll` to `_pywrap_tensorflow_internal.pyd` and link the JNI wrappers to that. This would allow users to link with the Python binaries very easily, in

[2022-01-08 00:52] Craigacp commented on #404
Given that we don't expose the same set of symbols as the pywrap file does, won't renaming it cause more trouble in the long run when people wonder why there are two completely different files with the same name?

[2022-01-08 01:42] saudet commented on #404
Well, if you want to try and convince TF Core maintainers that they should give better more consistent names to their libraries, be my guest :) Like I said, PyTorch does that right. There's no reason TF couldn't either.

[2022-01-10 01:42] karllessard commented on #404
At this point, I'm fine with @saudet suggestion and simply rename the DLL to match Python's one. It is hacky for sure but it's better than not supporting ops libraries like tensorflow-text on Windows.

I like though the idea of allowing users to link directly to the binaries distributed by the Python wheels. I'm wondering if we can give that option to the user, using let say an environment variabl

[2022-01-10 01:46] saudet commented on #404
When the names of the libraries match, it works with the binaries from the wheels, yes, see issue https://github.com/tensorflow/java/issues/226#issuecomment-790329027.

[2022-01-10 23:21] carlosuc3m commented on #402
Hello again,
@saudet do you know if that loading and unloading works for both Windows and Linux or only Windows, because I am having a hard time trying to get it to unload in Windows.
I have even tried to dlopen and dlclose with c++ and I got the same results.
The following loads and unloads libtensorflow_framework.so.2 from Java Tensorflow 0.2.0 and from 0.3.1:
[code]
I get the following error:
`

[2022-01-10 23:53] karllessard commented on #402
I think you meant Linux here. Interesting thing is that `dlclose` is not required to unload the library, even if the handle is being invalidated, according to the [spec](https://pubs.opengroup.org/onlinepubs/007904975/functions/dlclose.html)

My manual page on MacOSX is a bit different and provide some additional details:
[code]

[2022-01-11 12:29] carlosuc3m commented on #402
YEs sorry I meant Linux.
So do you see any plausible solution? Or a way to track whether the native library is loaded or not?
Thank you for your answer.
Regards,
Carlos

[2022-01-11 19:34] carlosuc3m commented on #402
Hello again,
Sorry for all the inconvenience, I have another question. Until now I have been perfectly able in Windows to load and unload the Tensorfloa dlls, such as `tensorflow_cc.dll`. However I cannot do the same with the jni.dll, `jnitensorflow.dll` which even blocks the native TEnsorflow dlls. Do you know how to solve that? @saudet where you able to unload that .dll?

[2022-01-11 21:09] carlosuc3m commented on #402
Hello it's me again.
I have just figured out how to load and unload the jni in Windows thanks to @saudet new feature in javacpp https://github.com/bytedeco/javacpp/commit/3c9d5999b68367a20b9fd51a0c6965448aab6c61 calling `Pointer.interruptDeallocatorThread()`.
HOwever, unfortunately, I am still stuck with the linux issue.

[2022-01-12 05:03] frankfliu opened #406 "NullPointerException when calling matrixDiagV3"
The following code works fine with 0.3.1, but now I get NPE in 0.4.0:

[code]

I got exception on both macOS and Linux.

[code]

[2022-01-13 17:13] frankfliu commented on #406
@karllessard

You are absolutely correct, padding should be a scalar. I think earlier version didn't enforce that.

But the NPE is bug in the code. I will create a PR to address that.

[2022-01-13 18:18] #406 closed

[2022-01-14 08:22] feifeiontheway commented on #298
您好，      来信已经收到，我将尽快查阅，给您回复！                                               陈飞

[2022-01-14 13:46] adaussy opened #408 "Missing tensorflow-core-platform-mkl:0.4.0 on maven central"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04 x86\_64): Windows 10 x64
- Tenso

[2022-01-15 03:52] karllessard commented on #408
Hi @adaussy ,

We (SIG JVM) have deliberately stopped to maintain and distribute MKL-enabled artifacts starting from 0.4.0, as their builds on the newest versions of TF were continuously getting less stable and many users were not actually seeing any gain in performance when using them (or even worst, observed a significant drop).

You can still try to build and try it by your own by following [th

[2022-01-15 08:20] adaussy commented on #408
Good to know.

Thanks for your answer and the great library!

Regards,

Arthur

[2022-01-15 08:20] #408 closed

[2022-01-16 21:58] ashesfall opened #409 "How can I change the build config for the platform natives to mkl_aarch64"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04 x86\_64): Aarch64 (Apple Sillicon)
- TensorFlow installed from (source or binary): Source
- TensorFlow version: 2.7
- Java version (i.e., the output of `java -version`): 17
- Java command line flags (e.g., GC parameters):
- Installed from Maven Central?: No
- Bazel version (if compiling from source): 3.7.2
- GCC/Compil

[2022-01-17 00:16] Craigacp commented on #409
Do you want to cross-compile from an x86 machine or compile natively on an M1?

[2022-01-17 02:31] ashesfall commented on #409
The goal was compiling directly on the M1.

And yes I eventually found your old discussion and have succeeded.

When will this become more official?

[2022-01-17 03:44] Craigacp commented on #409
When I or someone else figures out how to compile it without needing to run bazel as root we'll merge it into master. We won't be able to do builds for it due to a lack of appropriate build resources unless we manage to figure out cross compiling.

[2022-01-17 14:12] ashesfall commented on #409
Okay. You can't lose this ticket.

[2022-01-17 14:13] ashesfall commented on #409
Oh one last thing. Is integration with tensorflow-metal on the road map either?

[2022-01-17 16:26] Craigacp commented on #409
We don't currently expose `TF_LoadPluggableDeviceLibrary` which is the entry point for the pluggable device infrastructure. If we did, then I think you should be able to download the tensorflow-metal whl, unzip it and then load it with that function. As far as I can tell tensorflow-metal is closed source, so I don't think we'd be able to repackage it for Java.

Apple's docs do say "V1 TensorFlow N

[2022-02-05 18:45] mgroth0 commented on #394
I am having an issue with your jars @DevinTDHa see [here](https://github.com/DevinTDHa/precompiled-tf-jni-m1/issues/1)

[2022-02-11 19:44] Craigacp opened #413 "NameScope interacts poorly with subscoping"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04 x86\_64): macOS x86_64
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 0.5.0-SNAPSHOT
- Java version (i.e., the output of `java -version`): JDK 11

**Describe the curren

[2022-02-12 10:19] mullerhai opened #416 "we need Embeddings Lookup this method"
Hi :
    I wanna to invoke tf.nn.embedding_lookup to make embedding layer ,but the java version has not these part code.please  make it real work in java ? thank you ,

[2022-02-12 10:50] saudet commented on #416
FYI, it looks like the C++ API of PyTorch implements this functionality, which we can easily use from Java:
https://github.com/bytedeco/javacpp-presets/blob/master/pytorch/src/gen/java/org/bytedeco/pytorch/EmbeddingImpl.java

[2022-02-12 14:52] karllessard commented on #416
Hi @mullerhai , did you tried to use [`tf.gather`](https://github.com/tensorflow/java/blob/5210c7e7aff5d0fb615ffb5a40769c632a37db3a/tensorflow-core/tensorflow-core-api/src/gen/annotations/org/tensorflow/op/Ops.java#L2640) instead? According to TF [documentation](https://www.tensorflow.org/api_docs/python/tf/nn/embedding_lookup), `embedding_lookup` is just a generalization of `gather`.

[2022-02-12 15:09] karllessard commented on #403
@chaowenGUO , I'm revisiting old issues, did you figured out how to load the saved model in Java? Basically, like @Craigacp  explained, you should load it as a [`SavedModelBundle`](https://github.com/tensorflow/java/blob/master/tensorflow-core/tensorflow-core-api/src/main/java/org/tensorflow/SavedModelBundle.java) instance and you can directly run inference on it. You should be careful with resour

[2022-02-12 15:13] karllessard commented on #413
Here's another issue related to name scoping, are they related? https://github.com/tensorflow/java/issues/397

[2022-02-12 15:24] Craigacp commented on #413
I think #397 was fixed by the name import logic that was added in one of @rnett's PRs.

[2022-02-12 16:27] karllessard commented on #403
I've also answered to that same question awhile ago on SO, you can take a look at [here](https://stackoverflow.com/questions/62241546/java-tensorflow-keras-equivalent-of-model-predict/62295153#62295153)

[2022-02-13 05:56] saudet commented on #416
If you could port that to Java, I'm sure we will want to merge this, yes.

[2022-02-13 15:55] karllessard commented on #416
Thanks @mullerhai ,

Again, the "happy path" of `embedding_lookup` (getting raw embeddings from a single tensor) can be replaced by a single call to `tf.gather`. But if you could write/port a wrapper that does also the fancy stuff (partitioning, norm, transform, ...), that would be certainly a great addition to our Java framework.

[2022-02-14 01:35] mullerhai commented on #416
yeah, if the tf java framework has   embedding look up method  then  we will have embedding layer, it will benefit for all users

[2022-02-14 23:07] karllessard commented on #416
Talking of embedding layers… @JimClarke5 , is this something you have worked on as part of the first phase for layers?

[2022-02-15 00:08] JimClarke5 commented on #416
Exactly what do you mean by embedding layers? The Sequential model can contain a network of layers if that is what you mean.

I have not worked on layers for the simpler models, the plan is to get the  basic model plumbing accepted, then add more layers.

Also, I have not tackled saving the model in a SavedModelBundle yet.

There is a lot of work yet for models and layers.

Jim

[2022-02-15 04:28] mullerhai opened #418 "I do not know why placeholder can not init meet [Graph tensors must be fetched by running a session]"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2022-02-15 04:37] Craigacp commented on #418
The logits variable isn't a tensor, it's a series of graph operations which can produce a tensor as an output. If you want to feed the logits array in you can use one of the `TFloat32.tensorOf` methods and supply a TensorFlow ndarray as input (which you can convert a regular array into).

[2022-02-15 11:36] mullerhai opened #419 "When this project will implement data_flow_grad data_flow_ops resource_variable_ops sparse_ops ragged_functional_ops"
HI   :
      these api  in java  not find ,but it is  necessary for the user, I think if we  take thses api to real world  in tensorflow -java ,it is will friendly for user
     thx

[2022-02-15 14:03] Craigacp commented on #419
We're working on building out Java implementations of the ops written in Python but there are a lot and it's not finished yet. If you've built a model using those ops in Python then that model will work in Java.

Is there something specific from those ops that you need? They are usually composed out of more primitive ops that are already available in TF-Java so the functionality is available but h

[2022-02-15 16:24] kushal-g opened #420 "API to read weights from ckpt file"
**System information**
- TensorFlow version (you are using): Nightly
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**
This API would help in reading the weights from ckpt file. Currently, there is no such feature in the Java SDK but the same can be achieved in python via CheckPointReader.

**Will this change the current API? How?**
This shou

[2022-02-15 18:59] karllessard commented on #416
Yes I was asking if you’ve already started to port the [Keras embedding layer](https://keras.io/api/layers/core_layers/embedding/), to make sure we are not duplicating the efforts here.

[2022-02-15 19:26] karllessard commented on #418
I’d add to this that the `asTensor()` method only works in eager mode, where tensors could be fetch after each operation.

In your case, `logits` is the result of a graph computation (since `ops` was created with `Ops.create(g)`) and in such case, tensors can only be retrieved and manipulated from Java after they are fetched by graph session (via the `.fetch(…)` methods of a session runner). That

[2022-02-15 20:03] JimClarke5 commented on #416
I haven’t started it. There is some plumbing for Layers you will need, like the Layer Interface and BaseLayer abstract class.

Jim

[2022-02-16 01:55] mullerhai commented on #419
as you know  these Ops has some import method for use ,like  DataFlow dynamicPartition, dynamicStitch transformIds colocateWith  clipByNorm,without these method ,I can not do some model like  deepfm

[2022-02-16 03:04] Craigacp commented on #419
[DeepFM](https://arxiv.org/abs/1703.04247) should be implementable entirely within TF-Java without using any of those operations, it's just a pairwise feature interaction using an embedding vector and an MLP. Is there a specific implementation that you'd like to port into Java? Some of the ops you mention would be used for some scale out variants, but we don't support models across multiple device

[2022-02-17 15:39] mullerhai commented on #418
thank you it is work

[2022-02-17 15:45] mullerhai opened #421 "Do we support tf.nn.bidirectional_dynamic_rnn ?"
Hi:
      I only see CudnnRNN ,the project has not testcase for it,I not know if we support  tf.nn.bidirectional_dynamic_rnn or normal simple rnn?
     thank you

[2022-02-18 06:51] mullerhai opened #422 "Do we support SparseOutput?"
HI :
      for sparse tensor ,I think  we need  SparseOutput which  implement from Output[T], but  I  found in  the package  org.tensorflow ,final class Output<T extends TType> implements Operand<T>  ,Output class can not inherit 。
I don't know why.

[2022-02-18 07:32] mullerhai commented on #422
like  org.tensorflow.SparseTensor

[2022-02-18 22:39] AudreyW0201 commented on #419
Hi! Are you planning to add custom ops for TensorFlow Decision Forests (TF-DF)? https://github.com/tensorflow/decision-forests
I want to load my from from TF-DF and got error message: `Op type not registered 'SimpleMLCreateModelResource' in binary. Make sure the Op and Kernel are registered in the binary running in this process.`
Is it possible for me to register the Op in the binary? Thanks!

[2022-02-19 10:24] mullerhai opened #423 "I wanna create shape(3,3,3) ones tensor ,but meet error ,does we only support reshape the ones tensor to multi shape?"
Hi :
     I  want to create shape (3,3,3 ) ones or zeros tensor ,but why  meet error, if  the operation not correct for me ?

[code]

the error console

[code]

[2022-02-19 21:52] rnett commented on #423
`tensorOf` creates an uninitialized tensor with that shape, it does not turn the shape into a tensor of `[3, 3, 3]`.  You want something like `tf.ones(tf.array(3, 3, 3), classOf[TInt32])`.

[2022-02-20 01:46] mullerhai commented on #423
you are right, it's work,thanks

[2022-02-20 02:20] #423 closed

[2022-02-20 02:57] mullerhai opened #424 "not found 𝑎𝑟𝑔𝑚𝑎𝑥 and reducemean method, if we support these operation in java or not?"
HI

not found  𝑎𝑟𝑔𝑚𝑎𝑥  and  reducemean method, if we support these operation in java or not?

[2022-02-20 03:33] Craigacp commented on #424
Our `tf.math.mean` operation can be configured to do `reduce_mean`, depending on how keep_dims and the other arguments are set. There is a euclidean (L2) norm built in, but L1 will need to be composed out of `abs` and `reduceSum`. Argsort needs to be built out of the `TopK` operation, you can see how they do that in Python here https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python

[2022-02-20 03:33] mullerhai opened #425 "Do we have the visualize method to show the standard operand matrix nums info in the idea console?"
HI:

     Use the EagerSession ,I wanna  print the tf.matmul() result in idea console , but  I cannot found the visualize method to show  it.
just like this effect
![image](https://user-images.githubusercontent.com/6143404/154827352-3b738ade-178c-4768-8d06-80194a0517a8.png)

[2022-02-20 03:50] mullerhai commented on #424
thank you, but now I also have new question:  the meshgrid operate method not found

[2022-02-20 03:54] mullerhai commented on #424
scatter_nd operate do we support? I found Scatter.class

[2022-02-20 04:27] Craigacp commented on #424
In general we only expose the ops which exist in the TensorFlow C API. If an op exists in Python but not in the C API then it means the op is composed out of multiple more primitive ops. So you can look up the op (https://www.tensorflow.org/api_docs/python/tf/meshgrid) and view the source (https://github.com/tensorflow/tensorflow/blob/v2.8.0/tensorflow/python/ops/array_ops.py#L3636-L3714) for it t

[2022-02-22 03:07] karllessard commented on #421
I don't think we do support out-of-the-box RNN ops, most in TensorFlow has been also deprecated in favor to Keras RNN cells and layers, so I guess this support will also as we port the Keras API into our framework.

[2022-02-22 03:11] karllessard commented on #422
Right now, dense tensors inside a sparse tensor (i.e. the indices, values and denseShape) needs to be passed individually by the user to one of the sparse ops that we have (as you see [here], all sparse ops expect individual tensors to be passed as operands).

Eventually we'll hide this conversion to the user by wrapping up the sparse ops to accept a single sparse operand (or sparse output) but we

[2022-02-22 03:19] karllessard commented on #425
Actually, and surprisingly, I don't think we have.. but a recall that we worked on this...

... found it, looks like [this](https://github.com/tensorflow/java/pull/272) has never been merged (!!)

@cowwoc, I know its been a long time but do you think you can finish/polish this up? Otherwise, maybe we can take it over from your branch?

[2022-02-22 03:20] #418 closed

[2022-02-22 04:58] cowwoc commented on #425
Hey @karllessard

I would appreciate you taking this over. Thank you.

[2022-02-22 07:27] mullerhai commented on #425
oh,great,waiting for merge your commit to publish new version

[2022-02-22 07:29] mullerhai commented on #421
wow,  when this framework will wrapper keras api?

[2022-02-22 13:16] karllessard commented on #421
This is a own project on its own, leaded by @JimClarke5 , a lot of work as already been done by porting the optimizers, metrics, losses, regularizers and activations of Keras [to Java](https://github.com/tensorflow/java/tree/master/tensorflow-framework/src/main/java/org/tensorflow/framework). The plumbing for layers and models are coming on soon and from there it would be interesting to tackle the

[2022-02-22 23:01] Craigacp commented on #420
`session.restore` should do that already - https://github.com/tensorflow/java/blob/master/tensorflow-core/tensorflow-core-api/src/main/java/org/tensorflow/Session.java#L709.

[2022-02-23 03:56] mullerhai opened #426 "Sorry for one more help :Eager to support the Embedding layer and embedding_lookup method make real"
HI :
     I  want to  build  recommend system use  deepfm model ,but it need a lots of  layer ,most important layer is  Embedding  layer, and  so many  NLP work  model need it ,would you  like  coding this part code. will appreciate about these work .and  I  has  try to build embedding look up method ,but  it is  can not work , I just try to write the similar code like [from tensorflow.python.ops

[2022-02-23 05:44] Craigacp commented on #426
Did you try to port the embedding ops from https://github.com/eaplatanios/tensorflow_scala over to sit on top of TF-Java? It uses it's own JNI binding to the TF C API and so doesn't really work with our JVM API.

[2022-02-23 06:01] mullerhai commented on #426
yeah，I just also try to translate 【org.platanios.tensorflow.api.ops.Embedding.embeddingLookup ] to my code  with tensorflow-java, but   I failed ，platanios also use self-defined object or class make it complex ，but also  it is copy
the  logit from  tensorflow python 【tensorflow.python.ops import embedding_ops ]。

I  think  now  ，if  the  tensorflow -java  can not solve the embedding loop—up method

[2022-02-23 23:14] karllessard commented on #426
I think we all agree that supporting embedding layers in TF Java would definitely be a great addition, though since the project only relies on open-source community contributions, we need to wait until someone is available to do this substantial work. Please let us know if you know developers that could help before that, and we can for sure assist them.

[2022-02-24 19:49] kushal-g commented on #420
How would I get the graph for creating the session? I need to get the weights from the following ckpt file.

https://drive.google.com/file/d/1ZH1SiF4Z-YYGZjwPbtd4cpCbvGXYIuu2/view?usp=sharing

This operation will take place in an Android app so as to send these weights to a server to aggregate using Federated Learning.

[2022-02-24 19:58] Craigacp commented on #420
The graph should be defined somewhere as a protobuf, but you can also specify the model yourself. How are you loading in the model architecture at the moment?

[2022-02-25 06:51] kushal-g commented on #420
I am not. I assumed that the model architecture could be loaded from the ckpt itself. I have the model architecture in a python code. From what I understand from your reply, I have two options:

1) Export the model architecture as protobuf using python code and then load the architecture in my java code to generate the graph and then use the session to get the weights
2) Reimplement the model insi

[2022-02-25 14:35] Craigacp commented on #420
Variable checkpoints are stored separately from model structure in TensorFlow, so you need both components to load in a model. The saved model format is a directory containing the model structure protobuf and a variable checkpoint, so you can load that in and continue training. There are other ways of exporting the computation graph, but those are harder to do now in TF 2.x. Otherwise then you'll

[2022-03-01 16:44] thhart opened #428 "Little performance problem in JNI call"
I am sorry to ask here, but I have a little performance glitch in a Linux x64 environment. I am afraid I am caught in dependency hell because in a complex application environment with lots of external libraries involved the performance for interference is worse compared to an isolated test call running on CPU. (500ms vs 2000ms both CPU, I am aware a GPU outperforms this). The model is a self learn

[2022-03-01 17:31] thhart commented on #428
Sorry, it was a simple CPU resource problem.

[2022-03-02 11:12] torito commented on #304
Hi, any update on this ? I continue having this issue using 0.4.0 version
In the ticket discussions in https://github.com/tensorflow/tensorflow/issues/48802 they said the issue is maybe solved in last release

Regards

[2022-03-02 14:39] Craigacp commented on #304
Could you describe your issue in more detail (e.g. trigger for the leak, size of it, which JVM, platform, any JVM GC configuration parameters)? The first issue mentioned in this thread was fixed some time ago, and the second issue was due to an interaction between k8s and the JVM's memory management, it wasn't a TF-Java issue. We're not aware of any leaks in the current version of TF-Java.

[2022-03-03 13:52] silvanheller commented on #3
Bumping this issue, is there any way to set the log level within the Java Code now that the corresponding issue has been resolved?

[2022-03-03 20:18] Craigacp commented on #3
We spent some time looking into exporting TF logging messages into Java so they can be logged using a Java logging framework, but unfortunately that effort stalled as the TF log handler doesn't behave correctly - https://github.com/tensorflow/tensorflow/issues/44995, https://github.com/tensorflow/java/pull/345.

[2022-03-09 20:02] dennisTS opened #429 "Version 0.4.0 not loading models from S3"
Dear TF team,

we are experiencing a weird issue with the latest version of TensorFlow for Java - after upgrade it stopped loading models from S3.

Here's an **example setup**:

Java 8, a single dependency:
[code]

A single class:

[code]

Environment variable: `AWS_REGION=eu-central-1`

**Outcome**:
[code]

Either of the changes below "fixes" the issue:
* changing from S3 to local
* changing from

[2022-03-09 21:20] Craigacp commented on #429
s3 support was removed from TF 2.6 (https://github.com/tensorflow/tensorflow/issues/51583) and split out into a separate TF IO package (https://github.com/tensorflow/io). If you download the appropriate version of TF IO, extract the so/dylib files from it, you should be able to register the filesystem plugin with `org.tensorflow.internal.c_api.global.tensorflow.TF_RegisterFilesystemPlugin(String p

[2022-03-10 11:03] dennisTS commented on #429
Understood, thanks for the clarification, @Craigacp !

[2022-03-10 12:21] pyrator opened #430 "Combined Div and Reshape is not fetching the correctly shaped Tensor in 0.5.0-SNAPSHOT"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution : Windows 11 x86\_64
- TensorFlow installed from : binary
- TensorFlow version : 0.5.0-SNAPSHOT
- Java version: 14.0.2
- Java command line flags (e.g., GC parameters):
- CUDA/cuDNN version: 11.2 / 8100
- GPU model and memory: NVIDIA GeForce RTX 207

[2022-03-10 14:22] karllessard commented on #430
Hi @pyrator , I've just tried your first snippet on 0.5.0-SNAPSHOT and it does give me the expanded shape ([1, 1600, 2560, 3] in my case). We've just upgraded to TF2.8, maybe something was fixed, the updated artifacts are actually being built so you can probably try it again tomorrow and see if the problem still remain on your side.

Meanwhile, there is a simpler way to achieve what you are doing

[2022-03-10 15:27] pyrator commented on #430
Thankyou, the ExpandDims does exactly as I want with normalizing and reshaping images into tensors. I can check out the 0.5.0-SNAPSHOT again tomorrow to see if the combined Div and Reshape ops also work as there may be a case when something else is required.
Also conversely from reading the docs, a tf.squeeze on axis 0 returns the original tensor shape.

[2022-03-11 16:57] pyrator commented on #430
I've just cleaned and retried with latest  0.5.0-SNAPSHOT jars and everything is working with combined Div and Reshape ops too, so I will close this.

[2022-03-11 16:57] #430 closed

[2022-03-14 06:28] mullerhai opened #433 "How to represent the [variable_scope] and [get_variable] in tensorflow java ?"
HI :
       write the tensorflow code in python  ,we  always use   with the variable_scope  and  get_variable method , like this
[code]
     but in  java ,we can not use  with key word , and   I also can not  find [variable_scope] and [get_variable]  two apis.
I  just want to know  How to represent the [variable_scope] and [get_variable]  in tensorflow  java ,could we give me a damo about these?

[2022-03-16 01:52] Craigacp commented on #433
We don't have an equivalent of variable scope, though you can name the scope which has a similar effect, but if you have a graph ops instance you can call `variable()` and pass in an `org.tensorflow.framework.initializers` instance or do it by hand (e.g. https://github.com/tensorflow/java-models/blob/master/tensorflow-examples/src/main/java/org/tensorflow/model/examples/cnn/lenet/CnnMnist.java#L10

[2022-03-16 05:40] mullerhai commented on #433
good example project,  we need  more  , thx

[2022-03-16 08:37] rhps commented on #429
Hi @Craigacp and @dennisTS, I have the same problem. Could you mind to share the solution? Since I have downloaded the newest version of TF IO and installed it correctly, but I still found that issue?

[2022-03-16 13:42] Craigacp commented on #429
You need to supply the path to `libtensorflow_io_plugins.so` which will have been installed into your python environment as an argument to the `TF_RegisterFilesystemPlugin` method that I mentioned above.

[2022-03-17 01:15] karllessard commented on #387
Thanks @maziyarpanahi , this seems to be a different issue. I also suspect that the change did not happened in TF Java but in TF 2.7.0, I'll start to investigate on this. Maybe we should track this new bug in a separate issue then?

[2022-03-17 01:26] karllessard opened #434 "`asset_path_initializer` not fed when loading model"
Hi @karllessard

We are experiencing the same issue however in the `0.4.0` release (after this fix https://github.com/tensorflow/java/pull/393 was included). Previously in `0.2.x` and `0.3.x`, we were able to load a model, save it on disk, and load it back (both models from TF Hub and HuggingFace as SavedModel).

However, now in `0.4.0`, we can load any SavedModel from anywhere, but once it's save

[2022-03-17 01:30] karllessard commented on #434
@maziyarpanahi , can you please provide the exact link you use to download your BERT model from TFHub? Because I've just tried it with [this version](https://tfhub.dev/tensorflow/bert_en_uncased_L-12_H-768_A-12/4) and I had no issue. You say the problem occurs as soon as you load the model using `SavedModel.load(...)`, right?

[2022-03-17 09:06] maziyarpanahi commented on #434
Thanks @karllessard for creating a new issue and testing this. Just in case, this is how I export TF Hub models (it's pretty much the same as HuggingFace, they both end up having an `assets` directory, TF Hub puts a vocab.txt inside, but we never used `assets` directory when loading a model via Java)

[code]

The schema of the SavedModel from TF Hub hasn't changed, it has always been with the `ass

[2022-03-22 01:19] karllessard commented on #434
So playing around with this issue, I found out that in the original BERT model the following `AssetFileDef` is present in the `saved_model.pb`, while we don't add when exporting the model in TF Java:

[code]

Adding it allows me to reload the exported model successfully, here's how I rebuild the saved model to be saved in my test:
[code]

I don't know if something has changed in the TF Runtime tha

[2022-03-22 15:38] gustavo-ren opened #435 "New contributors guidelines."
Hello!

I am not sure if this is the right channel for this question but here we go, I am interested in starting contributing with open source projects, and Tensorflow seems to be a good option, I've read the CONTRIBUTING.md for the Java project, but I could not find guidelines for new contributors (such as take part on code reviews or write tests).

Can someone direct me on this matter?

Highly a

[2022-03-23 02:13] Craigacp commented on #435
We should add new contributor guidelines, and that's an entirely reasonable thing to open an issue for.

Depending on your level of comfort with TF-Java, there are plenty of things to work on. A fairly easy first step is to add more example models here - https://github.com/tensorflow/java-models, that will let you get comfortable with the API we have and help explain it to new users. For the libra

[2022-03-25 05:53] mullerhai opened #436 "Not found tf.repeat ?"
HI :
      I want to  use  tf.repeat  ,but in tensorflow -java  ，I am  not found  this method ,It is  a  import logic method for some algorithm.
please

[2022-03-30 08:00] mullerhai opened #437 "Exception in thread "main" org.tensorflow.exceptions.TensorFlowException: No gradient defined for op: SelectV2."
env :
     tensorflow-java   : 0.5.0-SNAPSHOT
    scala  :2.12.11
    java :  jdk 15
Hi :
     when  I  defined a  tf Variable  named  embeddings ,and  want to  do some  operation  with it, invoke the callone method
[code]
meet to  error console
[code]
I  do not know why , feel  appreciate help  me ,thanks

[2022-03-30 15:04] Craigacp commented on #437
Select doesn't have a gradient visible to the C code. I think it's probably simpler to add some epsilon to the l2 rather than using a conditional to only sqrt the non-zero values, as otherwise you're going to divide by zero anyway.

[2022-04-04 07:52] mullerhai opened #438 "Could you supply some lstm rnn gru example"
HI :
I want to use some time series model ,I know we have // LSTMBlockCell.create()
// GRUBlockCell.create()
// BlockLSTM.create(), but I don't know how to use it,
would you like supply some example about these ?
thanks

[2022-04-05 15:52] xmings opened #440 "How to input data and recive returned results after loading the categorization model"
dependency:

[code]
---------------------------
code:

[code]

However, no any create method found within tf, why ??

[2022-04-05 16:05] Craigacp commented on #440
What do you expect `tf.create` to do? As far as I can tell there isn't an equivalent method in TF Python.

Depending on what your input looks like you can use the different tensor types (e.g. `TFloat32`, `TInt32`) and their factory methods (e.g. `scalarOf`, `vectorOf`), or the ndarray library (https://github.com/tensorflow/java-ndarray) to construct the right inputs for your model.

[2022-04-07 03:33] mullerhai opened #441 "can not find tf.feature_column.* these method?"
HI :
     for some  etl the data, we need  thses method ,but in tensorflow-java ,I  can't find  them

[2022-04-09 03:42] zouxiaodong opened #442 "how to implement image preprocessing ？"
hi,
  how to implement the follow code snippet  with java？

def tf_preprocess(filename):
    img_str = tf.compat.v1.read_file(filename)
    img_decode = tf.io.decode_jpeg(img_str, channels=3, dct_method='INTEGER_ACCURATE')
    img_converted = tf.cast(img_decode, tf.float32)
    img_scaled = tf.compat.v1.image.resize_images(img_converted, (224,224), method=0)
    img = tf.reshape(img_scaled, (224,2

[2022-04-09 03:45] #442 closed

[2022-04-09 03:45] zouxiaodong commented on #442
duplicated #236

[2022-04-09 16:08] karllessard commented on #442
Hi @zouxiaodong , if you look at the example we have in `java-models`, be careful because this one does not use `tf.expandDims` to add the batch dimension of 1 but you should, all these ops are also available in Java. (I need to find some time to update it...)

[2022-04-10 07:45] SmileTM opened #443 "How to set GPU？"
In the tensorflow2, we can chose GPU and set GPU memory auto growth, as this:
[code]
tensorflow version: 2.7.1
tensorflow java version: 0.4.1

But in the Java version, how to set these  ???
this is my code demo：
https://github.com/SmileTM/deploy/blob/master/java_demo/src/main/java/LoadBertModel.java

Could you give me some codes to reference?

[2022-04-10 09:21] saudet commented on #443
Java doesn't provide a way to set environment variables like this, and there is no portable native API to do that either, but it's possible to call easily setenv() on Linux or SetEnvironmentVariable() on Windows via JavaCPP:
http://bytedeco.org/javacpp-presets/systems/apidocs/org/bytedeco/systems/global/linux.html#setenv-java.lang.String-java.lang.String-int-
http://bytedeco.org/javacpp-presets/sy

[2022-04-10 09:48] SmileTM commented on #443
Thanks for your answer.
I just want to load model to the specified gpu, rather than set environment variables .
For example, I have 8 GPUS, just want to load model to gpu(5).
Could you have any suggest ?

[2022-04-10 09:55] saudet commented on #443
It might be possible with GPUOptions as @raftaa has shown in issue #383.

[2022-04-10 14:29] SmileTM commented on #443
Thank you.
I have solved this problem, but it not perfect.  Even though i specified gpu，it seems also call another gpus.  As see in the tail.  `PID 131133`  create 8 Processes.
have any solution to solve it?

[code]

[code]

[2022-04-11 22:39] JimClarke5 opened #444 "TF Python producing malformed JSON for numpy style arrays."
TF Python serializes numpy style arrays (e.g. Java NdArray)  in the format `'normalizer': array([[0.2, 0.2], [0.1, 0.3]], dtype=float32)'`.
This is not standard JSON, and tools, like GSON, throw a `MalformedJsonException` when trying to parse this.

The issue is how to best handle this in TF Java.

I have looked at GSON using customized `TypeAdapter` and `Serilaizers`/`Deserializers`, but I cannot

[2022-04-12 13:46] Craigacp commented on #444
I think DL4J also has some parsing logic for the JSON emitted by Keras, maybe we could look there to see what hacks they did? I'm surprised TF Python is emitting malformed JSON, is there any comment in the code about it or open issue on their repo?

[2022-04-13 22:16] karllessard commented on #444
They do seem to do some custom stuff yes, see tensorflow/python/keras/saving/saved_model/json_utils.py

[2022-04-13 23:05] JimClarke5 commented on #444
Yes, I have seen this and it is pretty straight forward to implement these customizations in GSON.
However, what seems to be stored in the SavedModel is not pure JSON, but  a string version of a Python `dict`.
It is close to JSON, but not 100%.

The following Python code demonstrates this:

[code]
-->
[code]

Is there a way to translate a Java `Map` to a Python `dict` in both directions, consideri

[2022-04-21 14:24] SmileTM commented on #443
hi，@saudet
have any good ways to remove  redundant processes on other GPUs ？？？

[2022-04-21 14:30] saudet commented on #443
Setting the "CUDA_VISIBLE_DEVICES" environment variable is probably the easiest way to accomplish this.

[2022-04-21 14:34] SmileTM commented on #443
Thank you very much！！

[2022-04-21 14:34] #443 closed

[2022-04-21 22:54] mattdornfeld commented on #419
@Craigacp I tried the solution describe [here](https://github.com/tensorflow/decision-forests/issues/81), where you pass the compiled .so file for the tf-df library to `TensorFlow.loadLibrary` before calling `SavedModelBundle.load`. I ran into this exception

[code]

Any advice on how to get around this?

[2022-04-22 01:50] Craigacp commented on #419
As you've found this seems to be an issue with how TF-DF defines its operations (https://discuss.tensorflow.org/t/decision-forests-issue-with-c-api/7434/5), and is outside our control. Until they fix the op definition I don't think we can do anything. The Python API disables this shape check (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/framework/ops.py#L3211), but the Sh

[2022-04-27 19:29] kensens opened #445 "no jnitensorflow in java.library.path during Maven installation"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04 x86\_64): Linux Debian x86_64
-

[2022-04-28 00:02] saudet commented on #445
You'll need to install libstdc++. That's required by both OpenJDK and TensorFlow.

[2022-04-28 03:38] kensens commented on #445
Thanks for the comment. I already have libstdc++ installed, and it exists in a subdirectory of `/usr/lib/`:

[code]

The purpose of creating this issue is twofold: I would like help actually getting TensorFlow Java installed correctly, and it would also be great if the TensorFlow Java documentation could be updated with installation instructions that "just work".

[2022-04-28 03:46] saudet commented on #445
It does "just work" on typical installations of Linux. It looks like you have a special installation that doesn't let users link custom libraries against /usr/lib/libstdc++.so.6. I'm afraid you'll need to figure out how to make that work on your unusual setup.

[2022-04-28 04:20] Craigacp commented on #445
What does the output of ldd look like for `/usr/redacted/.javacpp/cache/tensorflow-core-api-0.3.3-linux-x86_64.jar/org/tensorflow/internal/c_api/linux-x86_64/libjnitensorflow.so`? (Also you didn't redact that path in all parts of your issue). Is the Google version of Debian locked down in some way wrt library linking?

[2022-04-28 05:14] kensens commented on #445
[code]

Great question, I don't know.

But, I have repeated the installation instructions on a standard Linux VM and it worked successfully. Although slightly inconvenient, using that VM will be fine for my purposes. So, really the issue was that my machine was unusual :)

Thanks to both of you for helping out.

[2022-04-28 05:14] #445 closed

[2022-04-28 14:07] Craigacp commented on #445
If you're ok with running a few more experiments I'd like to see if there is something we can document about it. If TF-Java doesn't work on Google's laptops then that's a problem.

Could you try running `System.load(<absolute-path-to-libtensorflow_framework.so>)` twice? Once to the path in your home directory, and once to the same files but copied somewhere else (e.g. `/tmp`)? I'm wondering if it

[2022-04-28 21:02] kensens commented on #445
I get the same issue in both `libtensorflow_framework.so.2` cases and for `libstdc++.so.6` on my original Google machine:
[code]

Repeating this on the GCE VM where installation worked, I no longer get any such errors for `libtensorflow_framework.so.2` or `libstdc++.so.6`.

[2022-04-28 21:10] Craigacp commented on #445
Well that's deeply weird. Maybe the Java install is quarantined in some sense so it can't trigger arbitrary dlopens properly? I'm not sure how the JVM would even start up in that case. It's clearly able to read the files a little bit otherwise it wouldn't know that libstdc++ needed libgcc_s, but I don't have any explanation for why it can't do dependent loads.

[2022-04-28 21:55] karllessard commented on #445
And if you set `LD_LIBRARY_PATH` explicitly to where libstdc++ is, does it load at least this one? i.e.

`LD_LIBRARY_PATH=/usr/lib/x86_64-linux-gnu java Load.java /usr/redacted/.javacpp/cache/tensorflow-core-api-0.3.3-linux-x86_64.jar/org/tensorflow/internal/c_api/linux-x86_64/libtensorflow_framework.so.2`

Does your `LD_LIBRARY_PATH` env variable already set to something?

[2022-05-02 12:48] achoum commented on #419
Hi @Craigacp,

The op in question is defined [here](https://github.com/tensorflow/decision-forests/blob/main/tensorflow_decision_forests/tensorflow/ops/inference/op.cc#L57). Would simply calling "SetShapeFn" (like [here](https://github.com/tensorflow/decision-forests/blob/main/tensorflow_decision_forests/tensorflow/ops/training/op.cc#L49)) solves this error?

Cheers,
M

[2022-05-02 13:20] Craigacp commented on #419
I expect so. I don't think it's actually going to do anything with the inferred shape as I doubt there are many operations dowstream of it, but the C API requires that all the ops have a defined output shape function.

[2022-05-08 14:43] karllessard commented on #434
Question @maziyarpanahi  or @wolliq, when SparkNLP creates its own copy of the saved model, does it "freeze" the graph, so that all variables values are embedded inside a single `.pb` file?

[2022-05-08 15:32] karllessard commented on #434
Ok... having a better look at this, I think I understand what's going on.

You are basically reexporting a TF model in a very custom way, not only programmatically but also "organizationally". In your case, the `saved_model.pb` is not actually a saved model definition, as it tends to indicates, but only a simply graph def. Then you save the variables in separate files under the same folder, that y

[2022-05-09 09:03] maziyarpanahi commented on #434
Hi @karllessard

Yes, this is true. We started using TensorFlow on Java on 1.12 and for very limited trainable graphs which were frozen before being saved. I think throughout the years saving GraphDef stayed the same while both TensorFlow and TF on Java evolved. For most of the models which won't be fine-tuned or changed (like BERT), we can just save them simply without going through this. (everyt

[2022-05-09 10:58] odidev opened #446 "Add test support for aarch64"
I tried testing **spark-nlp** package on **aarch64** architectures but it is generating errors and it is successfully passing for x86.

On discussion with the maintainer of spark-nlp, found out there is a dependency **TensorFlow** for Java which doesn't support aarch64 currenlty (we are using `tensorflow-java `and it only supports **x86_64**) refer {discussion](https://github.com/JohnSnowLabs/spar

[2022-05-09 12:16] maziyarpanahi commented on #434
@karllessard quick question regarding feeding dummy values to asset path, I keep getting the following error:

[code]

[code]

This is what I get from `model.metaGraphDef().getAssetFileDef(0)` which is also confirm what you mentioned earlier regarding maybe adding `addAssetFileDef` would solve. However, I am not sure how I can directly feed this `asset_path_initializer:0`:

[code]

[2022-05-09 13:19] Craigacp commented on #446
The upstream TensorFlow project doesn't yet publish aarch64 binaries on Linux, and we build all our binaries on Github Actions which doesn't provide aarch64 hosted runners, so it's difficult for us to provide binaries.

I believe TF-Java should compile on Linux aarch64 so you can build it from source if you need that. If it doesn't compile properly on Linux aarch64 open an issue and we can take a

[2022-05-10 03:23] karllessard commented on #434
Ok, I understand better what is happening. This `asset_path_initializer` is marked as a dependency to one of the "init ops" in the graph (i.e. these ops that must be executed once before running the graph, often to assign a default value to the variables).

Before, initializing the model must be done manually, but in TF Java >= 0.4.0, it does it automatically. The problem though is that `asset_pat

[2022-05-10 08:41] maziyarpanahi commented on #434
Hi @karllessard

Thanks for the detailed explanation. Unfortunately, we use TensorFlow and offer features to users in Spark NLP rather than leaving users with the need to do anything, unlike other libraries where that have DL engines which are more flexible. When we load/read a TF model the rest is on auto-pilot without any option for users to choose anything. (so all the models have universal fee

[2022-05-10 10:45] karllessard commented on #434
Hi @maziyarpanahi ,

Sorry but what I meant by "users" is TF java users (i.e. you) and not SparkNLP users :)

So my idea was that you could disabled automatic session initialization within your `TensorflowWrapper` class. If you can give it a quick try by calling `Session.setInitialized()` right after you create the `Session` instance, it could work, but you need to use reflection to access this me

[2022-05-10 10:58] karllessard commented on #434
Another dirty hack (but maybe less dirty?) is to take advantage of a "flaw" in TF Java that will mark the session as initialized even if the initialization fail. You can run `Session.initialize()` manually just after instantiating it and catch/discard any exception that is happening there since you don't really care in your case. Something like:
[code]

I think that's probably your best option so

[2022-05-10 12:20] maziyarpanahi commented on #434
Thanks @karllessard, your second suggestion worked perfectly!

[code]
I will do more tests here to be sure nothing is affected by this (it shouldn't since we use this part only for embeddings from TF Hub and HuggingFace) and hopefully, we are ready to be migrated to TF 2.7 (0.4.1). By the time you are done with `AssetFileDef` I think I'll be ready to finally use the TF native exporter (this also s

[2022-05-10 12:36] karllessard commented on #434
Wonderful! Let me know if you observe any strange behavior.

One more question for you: is the reason of re-exporting a saved model only for updating the variables with newly trained values? If so, I think that could be very common case that would benefit from having a dedicated new endpoint for this, something like `SavedModelBundle.updateVariablesFromSession(Session)`.

[2022-05-10 13:18] maziyarpanahi commented on #434
Absolutely!

Yes, at the beginning the reason for that was to save the trained models. Unfortunately, we started using the same process to save models which obviously don't need all that like embeddings. I would say having a feature like `updateVariablesFromSession` would be very useful!

[2022-05-11 20:58] lanking520 opened #447 "[Bug] TensorFlow JavaCPP GPU memory leak"
During the investigation from our customer issue: https://github.com/deepjavalibrary/djl/issues/1552, we found that TensorFlow JavaCPP may have memory leak while copying from CPU to GPU devices. We managed to build a minimum reproducible code in the attachment. We appreciate for your help! :)

## How to reproduce?

All you need to do, is to find a GPU device, and run the followings after you downl

[2022-05-11 23:18] Craigacp commented on #447
Does the returned `TFE_TensorHandle` have a deallocator field set? If not, you could try calling `withDeallocator` on it which should register a deallocator hook.

[2022-05-12 00:16] saudet commented on #447
Right, `TFE_TensorHandleCopyToDevice()` is normal C function. JavaCPP has no way to know that the value returned has even been allocated somehow, so we need to call `TFE_DeleteTensorHandle()` on it. If you wish though, we can add a wrapper like `TFE_TensorHandle.copyToDevice()` that attaches a deallocator that calls `TFE_DeleteTensorHandle()` on `close()` like currently being done for `TFE_NewTens

[2022-05-12 05:25] lanking520 commented on #447
Maybe a warning message if no deal locator assigned to a pointer during creation will be great... I will try to run with the Delete Tensor

[2022-05-12 13:06] saudet commented on #447
A warning doesn't make sense--this is expected behavior from C APIs. For
that to make sense, we can provide a separate API, for example, the
AbstractTFE_TensorHandle class.

[2022-05-12 13:24] karllessard commented on #447
@saudet , I agree that simply having an endpoint called `TFE_TensorHandle.copyToDevice()` that takes care of registering the deallocator is probably the right thing to do

[2022-05-13 03:43] saudet commented on #447
@lanking520 The convention for anything wrapped by JavaCPP is very simple:
 1. When the name of the wrapping Java method is exactly the same as the function of the underlying C/C++ API, you'll *always* need to use it in exactly the same way as you would in C/C++. There are no exceptions. If you find a method that behaves differently than its native counterpart, that's a bug that needs to be fixed.

[2022-05-25 09:19] mullerhai opened #449 "Could we supply the method that convert spark sql dataframe to tensorflow-java ByteNdArray object ?"
Hi :
       Now  I etl the raw data use spark sql generate the dataframe  , I want to  convert the spark dataframe object to  ByteNdArray object  for  tensorflow  model input

[2022-05-25 10:11] mullerhai commented on #270
@danilojsl   HI ,I want to know does your team had make the  LSTM Layer to real with tensorflow-java in spark_nlp project. I also  develop one project  like  keras-scala, want to make  the rnn  lstm  gru  transformer  Layer to real  use tensorflow-java

[2022-05-25 13:47] Craigacp commented on #449
Converting from a data frame to a byte array has a lot of options on how you represent the data, columns and encoding. Do you have something specific in mind for each of those?

[2022-05-25 14:16] mullerhai commented on #449
--
dataframe -- text file ---ByteNdArray is easy ,but it need to write file to disk , but I want to use the tools that  only need read memory dataframe cache  meta-convert to  ByteNdArray

[2022-05-25 15:54] mullerhai opened #450 "How to update the weight about BlockLSTM ?"
HI :

   now  I use  BlockLSTM for build  lstm layer ,but  I don't know how to update the lstm weight parameters , if need use blockLSTMGrad or  something to do ,the coda is paste here:

[code]
thanks for your help

[2022-05-26 07:07] mullerhai opened #451 "how to use tf.variable() in tf session eager mode ?"
implicit val session = TestSession.createTestSession(TestSession.Mode.EAGER) // EagerSession.create()
    implicit val tf = session.getTF // Ops.create(session).withName("test")
    implicit val scope = **tf.scope()*

val weightInputGate = tf.variable(getWeightMatrix(weightGatesDims, scope))
the  console  error : Op VariableV2 is not valid in eager mode. ,because  I need  update the weight about w

[2022-05-27 15:44] danilojsl commented on #270
Hi @mullerhai, no in spark-nlp we haven't implemented that feature and won't do it in the foreseeable future. We are still waiting for contributors of tensorflow-java to make this available.

[2022-05-31 07:37] mullerhai opened #452 "How to use TfRecordDataset DatasetToTfRecord tf.io.tfRecordReader"
tensorflow-java  0.4
spark 3.1
java 11

Hi :
     Now I use tensorflow-java to read tfrecord  file ,but can not get the data, and our not have example for it ,the  TfRecordDataset   DatasetToTfRecord tf.io.tfRecordReader java class  have not same api like python ,could we give some example  for how to use them. thank

[code]

[2022-05-31 12:35] karllessard commented on #452
Hi @mullerhai ,

Is your goal to iterate through that dataset? If so, you need to create an iterator (e.g. by calling [`tf.data.makeIterator`](https://github.com/tensorflow/java/blob/303bf292b97073b73662c8acc01c5130b782203e/tensorflow-core/tensorflow-core-api/src/gen/annotations/org/tensorflow/op/DataOps.java#L886)). Also in your example here, the `DatasetToTfRecord` is writing to the same file as

[2022-05-31 13:56] mullerhai commented on #452
Great ,Thanks ,
but also I want to know how to convert Dataset to ByteNdArray ,or tfrecord to ByteNdArray,or  convert Dataset to  example
 ->org.tensorflow.example.example.{Example, SequenceExample}, Because of I need  like this code style
[code]
to make tensor for  model train

[2022-05-31 20:03] karllessard commented on #452
Maybe you can do this via [`parseExampleDataset`](https://github.com/tensorflow/java/blob/303bf292b97073b73662c8acc01c5130b782203e/tensorflow-core/tensorflow-core-api/src/gen/annotations/org/tensorflow/op/DataOps.java#L1247)? There are also a bunch of utilities for parsing examples in the IO package, like [this one](https://github.com/tensorflow/java/blob/303bf292b97073b73662c8acc01c5130b782203e/t

[2022-06-01 09:51] mullerhai commented on #452
in tensorflow-java 0.5.0-SNAPSHOT ,  EagerSession model, iter the element in dataset ,I find the element class type is OptionalGetValue or  some type, I want to print the real value ,but failed

[2022-06-01 09:59] mullerhai commented on #452
[code]
I get the error:
 No tensor type has been registered for data type DT_VARIANT

[2022-06-02 11:15] karllessard commented on #452
We don't map (yet) `DT_VARIANT` tensors in the Java space. Can you please provide the full stacktrace? I want to see where such tensor is being accessed from the JVM.

[2022-06-02 16:19] mullerhai opened #453 "tf.linalg.LinearOperatorLowerTriangular in python is the same with tf.linalg.triangularSolve in tensorflow-java ?"
HI Dear:
             when I want to use tf.linalg.LinearOperatorLowerTriangular  in tensorflow-java project, but not found ,only found  tf.linalg.triangularSolve ,if I set TriangularSolve.Options lower =true , I not know, but could we  answer it ?
 thanks

[2022-06-03 08:12] mullerhai opened #454 "Could tensorflow-java invoke GPU?"
Hi:
       when I  train the model  build  with tensorflow-java ,only can use cpu,but if I want to use GPU,I don't the deal method.is it support GPU?

[2022-06-03 08:16] mullerhai opened #455 "tensorflow-java tensor operand[T] need some feature could implicit convert to Breeze DenseMatrix like numpy in python?"
Hi:
     In  tensorflow-java   ,some matrix operate methond is not support ,so  need use  breeze DenseMatrix ,but  can not implicit convert to  like  numpy in python .  Now  we need to make tensorflow-java environment  suitable with  scala  or java with the Matrix or Vector Operation.

[2022-06-03 13:11] Craigacp commented on #455
You should be able to wrap a Breeze `DenseMatrix` around the array you get out of a tensor. If you want it to be extremely efficient then that will be tricky as Tensors are stored off heap and Breeze matricies are on heap (as far as I can tell).

[2022-06-03 13:21] mullerhai commented on #454
get it,thanks

[2022-06-03 14:53] mullerhai commented on #454
Does it support mac bookpro intel gpu ?

[2022-06-04 15:23] mullerhai opened #456 "Do we support tf.Module to build layer like keras in python?"
HI
Do we support tf.Module  to build  layer  like keras in python?

[2022-06-05 02:29] mullerhai opened #457 "How to get the Operand[T <: TNumber] index or indices like tensorflow python tensor"
HI:
    In tensorflow python ,If we create  tensor  like shape[x,y,z] three dimension ,

x = tf.random.normal([4,32,32,3])
 we can get  it any dimension data , like  x[0]  is shape (32,32,3) , x[0,::,::,::] the shape also is (32,32,3) ,also we can get other dimension ,like  x[0,1] the shape is (32,,3).
  but in tensorflow-java ,for Operand[T ] type object ,like  Operand[TFloat32]  data, I dont kno

[2022-06-05 11:30] karllessard commented on #456
This is work in progress, by @JimClarke5

[2022-06-05 11:40] karllessard commented on #457
You can access any specific sub-element of your Tensor/NdArray by calling `x.get(0, 1)`, which mimics `x[0][1]` in Python.

For more fancy indexing, like `x[:,0,:,2]`, you should slice your data using NdArray indexers, like this:
[code]
Look at NdArray's [`Indices`](https://github.com/tensorflow/java-ndarray/blob/main/ndarray/src/main/java/org/tensorflow/ndarray/index/Indices.java) for more option

[2022-06-05 12:44] mullerhai commented on #457
thanks  it's great ，I also  get another way but not the same good as you mention

[2022-06-05 13:29] mullerhai opened #458 "How to convert DenseNDArray to NDArray ?"
HI ,   when I read  TfRecordDataset from tfrecord file ,  I get the data type is DenseNDArray ,actual is DenseTString, I want to  convert it to TString  data.

my code  -scala  version

[code]

[2022-06-05 15:41] #457 closed

[2022-06-07 05:51] mullerhai opened #459 "Maybe two month later, I want to donate my scala keras style project build model base dependency tensorflow-java"
HI :
       tensorflow-java is Great Team, who  make  java & scala and other jvm  language  build model  easily like python !! I feel appreciate about  tensorflow-java  all contributers. I have ask  so many issue, and most the issues  are quickly be answered by yours.  I have  build one framework make build model  more easy ,I have  write down more than 40+  tensorflow  neural net algorithm Layers

[2022-06-09 11:22] ku222 opened #460 "Still able to access raw tensor data after close() is called"
**System information**
- Have I written custom code: see simple test case below to reproduce
- OS Platform and Distribution: Windows 10, 64-bit operating system, x64-based processor
- TensorFlow installed from (source or binary): binary via Maven
- TensorFlow version: v0.4.1
- Java version (i.e., the output of `java -version`): AdoptOpenJDK-11.0.11+9
- Java command line flags (e.g., GC parameters)

[2022-06-09 11:49] ku222 commented on #460
Recently upgraded from v0.2.0, where the same test case setup would throw the excepted exception

[2022-06-10 14:42] karllessard commented on #460
The semantic of `ConcreteFunction` has changed a lot since 0.2.0. Now it returns a callable that could be called eagerly or attached to another graph, replicating what Python is doing. The previous implementation of `ConcreteFunction` is closer to what we call now a [`SessionFunction`](https://github.com/tensorflow/java/blob/master/tensorflow-core/tensorflow-core-api/src/main/java/org/tensorflow/S

[2022-06-11 15:58] pyrator commented on #459
That sounds great!

[2022-06-12 17:05] karllessard commented on #459
Happy to help @mullerhai and thanks for the great comments! It helps a lot too having someone looking in details at what is missing in our library so we can improve it in the future.

You can also join our community (SIG JVM) so we can look altogether at the issues you are facing and how we could help you to build your framework on top of tensorflow-java, we meet monthly on Google Meet, see the de

[2022-06-13 01:15] mullerhai commented on #459
Very fantastic ，I will  clean and reformat  my project code， then make the list about some tf  function are need by the keras-scala framework,after I  complete these ,I will join

[2022-06-14 05:36] mullerhai commented on #459
I think if the Eager Session could support tf.varable()  will be the most important things

[2022-06-14 19:47] mattdornfeld opened #461 "Performance Issue when upgrading from 0.3.3 to 0.4.1"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Code is based

[2022-06-14 21:27] Craigacp commented on #461
Do you have a flame graph for the 0.3.3 code to compare? Is the performance delta consistent between the two versions on macOS and Linux (which are presumably different hardware platforms too, do they support different SIMD instruction sets)?

There were a lot of changes in TF-Java from 0.3 to 0.4, and we also moved from TF 2.4 to 2.7 which changed the native code quite a bit, but I wouldn't expec

[2022-06-14 21:51] mattdornfeld commented on #461
@Craigacp Sure! Here's the CPU flame graph of the Tensor creation process on 0.3.3

![image](https://user-images.githubusercontent.com/4313686/173695112-fc1ec58b-bc43-48a9-ac8a-d23715bb2985.png)

Unfortunately we do not have the same data on Linux since we don't currently have a profiling tool that's capable of running in the cloud (still waiting for that to go through purchasing). We only have th

[2022-06-14 21:56] saudet commented on #461
For best performance, make sure that the "org.bytedeco.javacpp.nopointergc" system property has been set to "true".

[2022-06-14 22:55] mattdornfeld commented on #461
@saudet Thanks for the suggestion. Just tried setting the flag and didn't see any noticeable performance difference.

[2022-06-16 03:31] Craigacp commented on #461
Turning off the pointer GC should remove the native call in `Pointer.physicalBytes()` which seems to be taking a bunch of time in that flame graph, so it should have made things faster (though possibly made both of them faster).

I can't actually see any major differences between the two graphs which is odd, though Tensor creation didn't get as much of a do-over as functions did between 0.3 and 0.

[2022-06-16 12:13] karllessard commented on #461
@mattdornfeld , in your last diagram [here](https://user-images.githubusercontent.com/4313686/173675249-5eff6473-5b86-4bd5-9569-4d377691b5eb.png), I see that you are calling both `SessionFunction.call` and `ConcreteFunction.call`, is it on 0.4.1?

That is something that has changed drastically in 0.4.x, the concrete functions are now built as native graph that could be called by another graph, lik

[2022-06-16 23:09] mattdornfeld commented on #461
@karllessard Thank you that's helpful. The flame graph shows the diff between 0.4.1 and 0.3.3. The way to interpret it is that the 0.4.1 test is using ConcreteFunction and the 0.3.3 test is using SessionFunction. Do you think that could be the source of the performance issue?

[2022-06-16 23:55] karllessard commented on #461
Ah I see... no I don't think that's the issue then, `SessionFunction` in 0.4.1 is pretty much the equivalent of `ConcreteFunction` in 0.3.3.

What I'm noticing though is that a substantial amount of time is also spent in `Graph.initializers` and that is something else that has been added in 0.4.x, so that could be the cause. I'll need to investigate this part a bit more though to understand what c

[2022-06-17 21:30] mattdornfeld commented on #461
@Craigacp Here's a zip file containing jfr files for the performance test for both 0.3.3 and 0.4.1 https://www.dropbox.com/s/aykejkzsug1g1te/tensorflowjavajfr.zip?dl=0.

I also tried experimenting more with setting `org.bytedeco.javacpp.nopointergc=true` and found that doing so did not completely remove the call to Pointer.PhysicalBytes which is puzzling...

[2022-07-01 06:54] mullerhai opened #463 "How to save NdArray object to local disk?"
Hi:  when I generate NdArray obj  from spark dataframe ,I want to  save the NdArray obj  for next model training，but  I don't  know how to save it.

[2022-07-01 10:53] mullerhai commented on #463
[code]

[2022-07-02 04:42] mullerhai commented on #463
thanks, let me see.
Now  we have three ways to  generate NdArray

1. from  java& scala  normal  array

[code]
2. from data disk file like csv  or zip file or  inputStream , nio Databuffers
[code]
3.from spark dataframe vectorUDT to generate

  here  need to import three package,some complex convert to generate,  I  think  maybe could from ndarray return regenerate spark dataframe  to write like cs

[2022-07-04 09:26] mullerhai opened #464 "Big NDArray generate Operand Tensor meet protobuf exceeded maximum protobuf size of 2GB ?"
Hi :
    from  spark DataFrame  generate    org.tensorflow.ndarray.DoubleNdArray , after I want to generate Operand[TFloat64] tensor , meet error

[code]

but  if I  filter some small part Dataframe  is ok
[code]

[2022-07-04 09:40] mullerhai commented on #464
need I  have to  split the DoubleNdArray to some part ? or  we have another way to convert it to Operand[T]?

I found  we have java.util.Spliterator
[code]

[2022-07-10 06:17] sudha1988 opened #465 "looking for facility to disable learning phase as we do in python tf.keras.backend.learning_phase(0)"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.15.0
- Are you willing to contribute it (Yes/No): No

**

[2022-07-10 12:49] Craigacp commented on #465
This is controlled by how you export the SavedModel from python. If the function doesn't do backpropagation then TF-Java won't do it either.

[2022-07-10 12:52] sudha1988 commented on #465
@Craigacp could you kindly give some more elaboration ? what do you mean by ' how you export the SavedModel'?  do you mean its controlled by model?If there is a reference kindly share...?

[2022-07-10 14:08] Craigacp commented on #465
TensorFlow-Java will execute the function you specify from the saved model. If that function involves backpropagation then it will update the model, and if it's just inference then it will not. It depends on how the function is specified in the model that was exported which isn't under our control.

[2022-07-10 14:12] sudha1988 commented on #465
Thanks for explaining @Craigacp

[2022-07-10 14:12] #465 closed

[2022-07-12 12:16] achoum commented on #419
I did the change mentioned above (adding SetShapeFn to the op definitions) and it seems the situation was resolved. See [this issue](https://github.com/tensorflow/decision-forests/issues/81).

[2022-07-16 15:37] mullerhai opened #467 "tf.nest package when we dev theese code , flatten and map_structure pack_sequence_as are need eagerly"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2022-07-25 15:18] albertoandreottiATgmail commented on #452
Hello, is there any way in which you could run this code outside eager mode? I need to access the binary representation of the example to hit a ParseExample node within a graph.

thanks!

[2022-07-27 06:50] mullerhai commented on #452
No ,I have not make it real

[2022-07-27 16:45] karllessard commented on #452
Sure, that will work in Graph mode as well, you just need to make sure that the `tf` instance you are passing to `Dataset.tfRecordDataset` is executing in a graph environment i.e. `var tf = Ops.create(graph);`

You won't be able to use a Java for loop though so you'll need to rely on other TF ops and methods exposed by the datasets/iterators to iterate through the examples within your graph.

[2022-07-29 08:33] zhenglaizhang commented on #304
Recently I meet with one interesting behavior, we deploy a k8s app with TF java, loading one existing TF model through `SavedModelBundle.load` and later we reload a new TF model version with the same approach, and then call the `close` on old model (`SavedModelBundle`) , then I found the mem usage increased, it seems the native mem is not reclaimed. But when I trigger a full gc, a large portion of

[2022-07-29 17:58] karllessard commented on #304
The `close()` method should reclaim the native memory right after the call. If that's not the case, we need to investigate. So you create no other session than the one coming with the saved model bundle?

[2022-08-01 02:20] zhenglaizhang commented on #304
yes, I didn't create any other session than the one from `modelBundle.session()`.
btw, I don't know how exactly inspect the native memory of TF and just conclude from the memory still increases when new model loaded, and then I do `oldBundle.close()` that the native mem is not deallocated. So is there some systematic way to check the native mem allocation in TF native runtime?

[2022-08-01 03:17] saudet commented on #304
If you set the "org.bytedeco.javacpp.logger.debug" system property to
"true", you'll get messages on the console when deallocation happens.

[2022-08-01 05:51] zhenglaizhang commented on #304
Great, thanks @saudet I will give it a trial and update in the thread soon!

[2022-08-01 08:41] zhenglaizhang commented on #304
I added the flag and it seems the debugging output for loading new model and releasing resource for older model is mixed:
Below is the output around the call to `oldBundle.close`
[code]
I have seen keyword `Releasing ... AbstractTF_Session$DeleteDeallocator` in the logging but the capacity is 0 and deallocator is null, is this expected behavior? And I cannot find any logging for releasing the TF g

[2022-08-01 10:47] saudet commented on #304
We can "close" objects that don't own anything, that's fine, it just won't do anything. There are also no "Collecting" messages with an address != 0, so it looks like everything that JavaCPP manages gets closed explicitly. Consequently, I would say the issue you're experiencing is probably not related to either TF or JavaCPP.

[2022-08-01 13:08] zhenglaizhang commented on #304
Thanks @saudet for your clarification. Yes based on my previous experiments, it should be related with G1GC behavior and heap objects are most concerning

[2022-08-02 15:21] zhenglaizhang commented on #304
@saudet curious if there are some metrics to expose the native memory usage by javacpp or some approach to roughly estimate the native mem allocated by javacpp. We will run a few TF models in same JVM process in a k8s pod, so understanding the native memory usage is very important for us to determine the mem limit for the k8s pod.

[2022-08-03 07:03] saudet commented on #304
JavaCPP can't know what TensorFlow does, we need to query it for that.
IIRC, there are a few functions like that, but nothing in the public API.
Maybe this has changed recently though.

[2022-08-03 07:31] zhenglaizhang commented on #304
@saudet thanks for reply, btw, I have a estimation solution - I will split the JVM mem into 3 parts:
  `JVM heap + JVM non-heap + Other memory`
And I will count the native memory allocated by javacpp in the `Other memory` part, so that we could have a rough estimate of the native mem used by our JVM. Does it make sense for javacpp?

[2022-08-03 07:49] saudet commented on #304
Pointer.physicalBytes() gives an estimate of what the process uses, but it
doesn't tell us anything about the JVM or TF's runtime.

[2022-08-03 08:46] zhenglaizhang commented on #304
As a client of TF java, I could not access the underlying pointer object.  I am wondering from javacpp memory allocation perspective, does the native memory allocated by javacpp belongs to `Other category?

[2022-08-03 09:02] saudet commented on #304
Pointer.physicalBytes() is a public method, anyone can access it:
http://bytedeco.org/javacpp/apidocs/org/bytedeco/javacpp/Pointer.html#physicalBytes--
TF for Java allocates very little memory using JavaCPP, but we can check that amount as well with Pointer.totalBytes():
bytedeco.org/javacpp/apidocs/org/bytedeco/javacpp/Pointer.html#physicalBytes-ftotal-

[2022-08-03 09:12] zhenglaizhang commented on #304
Curious about this, what do you mean by `little`, I originally assumed that if we have a roughly sized TF model e.g. 500M, TF java should load the model into native mem allocated by JavaCPP, and we need use try-with or explicitly [close the model](https://github.com/tensorflow/java/blob/56883f02958bf44fb2a1086efe698138309742dc/tensorflow-core/tensorflow-core-api/src/main/java/org/tensorflow/SavedM

[2022-08-03 09:28] saudet commented on #304
TF doesn't need JavaCPP to allocate memory, it does that on its own.

[2022-08-03 09:47] zhenglaizhang commented on #304
Oh yeah, making sense!

[2022-08-31 23:48] fanyang-dotcom opened #470 "Java API DataBuffers.of uses buffer incorrectly"
Hi,

I am seeing this behavior when creating a Tensor using a buffer that is created by wrapping an array.
The below example below can reproduce the issue:

[code]

System info:
Java 8
tensorflow-java 0.4.1

[2022-09-10 19:33] maziyarpanahi commented on #347
Hi @rnett

I am hitting this issue coming from here: https://github.com/tensorflow/java/blob/8fd9362870a7fd768c1f18989159ee1fefbd1def/tensorflow-core/tensorflow-core-api/src/main/java/org/tensorflow/ConcreteFunction.java#L464

However, I am not seeing it on CPUs, but only when I use TensorFlow (0.4.0) on a GPU.

The warning:
[code]

The full error:
[code]

Is there a workaround to disable the XLA

[2022-09-10 22:14] rnett commented on #347
Hi @maziyarpanahi, how are you using XLA?  That function is private because it does not work (because of this issue), and afaik there's intentionally no other way of using XLA with TF/java because of this.

[2022-09-10 22:15] rnett commented on #347
For any workarounds or fixes to enable you to use XLA on GPU from Java, you'd want to look at https://github.com/tensorflow/tensorflow/issues/50458

[2022-09-11 07:17] maziyarpanahi commented on #347
Hi @rnett

Thanks for your quick response. I am not actually using XLA in either Python or Java, I think the model I am exporting into SavedModel is (It's Wav2Vec2). I saw the error is very similar to the comments in the source code and the description so I just assumed the model itself might have been using XLA.

If I simply load and do inference with this model on CPUs is fine, but the moment I

[2022-09-11 21:00] rnett commented on #347
Ah, that sounds right.  Unfortunately there is nothing we can do on our end for this, it's due to the Tensorflow bug I linked above.  You could try re-writing the proto but I'm not sure how exactly you would go about that.

[2022-09-12 07:15] lucaro opened #471 "raw bytes from TString for tensor serialization"
I'm trying to write tfrecords from a Java application, but when I read back the String from the tensor serialization function and convert it to bytes in order to be written, I get differences in certain places. This has probably something to do with the character encoding in Java. I added some example code below. Is there another way to get to the raw bytes of a `TString` in order to get around th

[2022-09-12 07:47] lucaro commented on #471
Never mind, it works using

[code]

[2022-09-12 07:47] #471 closed

[2022-09-14 10:17] sebastianlutter opened #472 "Failed to load vit_b32_fe model from tfhub with 0.5.0-SNAPSHOT"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
[code]
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04 x86\_64):
[code]
- TensorFlow installed from (source or binary):
[code]
- TensorFlow version (use command below):
[code]
- Java version (i.e., the output of `java -version`):
[code]
- Java command line flags (e.g.,

[2022-09-14 10:35] sebastianlutter opened #473 "Very slow first query / XLA compilation with vit_b32_fe model"
After loading a Vision Transformer model ([vit_b32_fe](https://tfhub.dev/sayakpaul/vit_b32_fe/1)) from tfhub with 0.4.1 version of tensorflow-java the first query takes about 30 seconds to start. Reason is the graph is pre-compiled using XLA.

This is a performance issue I want to solve. Using 0.5.0-SNAPSHOT is not possible because it fails to load the SavedModel (see https://github.com/tensorflow

[2022-09-14 10:59] Craigacp commented on #473
We might be compiling the CUDA ops with a different set of targets than the python binaries to reduce our build times due to a lack of resources. That would cause it to recompile the ops for your GPU on startup.

What GPU, CUDA version & driver version are you using?

[2022-09-14 11:21] sebastianlutter commented on #473
CUDA is not involved, I'm running only on CPU (Intel 12th generation i7). There are no nvidia/cuda driver or libs installed at all.

How are the build done? Using https://github.com/tensorflow/java/blob/master/deploy.sh?

[2022-09-14 11:36] Craigacp commented on #473
Ok. Our XLA support is a bit iffy due to some open bugs in the upstream TF XLA support, but I'm not an expert on the consequences thereof.

[2022-09-14 12:21] sebastianlutter commented on #473
Can you please provide a `settings.xml` file with the basic mvn settings used to build the jar like 0.5.0-SNAPSHOT? Would be an good starting point for building a customized jar.

[2022-09-14 13:08] Craigacp commented on #473
It should build out of the box in Maven terms, but getting bazel configured to compile TF correctly is always a pain.

[2022-09-16 09:09] sebastianlutter commented on #473
I build a minimal code example in Python and Java and found out that I was wrong:
 * https://github.com/pixolution/tensorflow_java_test
 * results
[code]

Tensorflow 2.7.1 needs about 30 seconds of XLA compiling in Java and in Python. In Tensorflow 2.9.1 (Python) the problem does not exist. Closing this issue, @Craigacp thanks for your help!

[2022-09-16 09:09] #473 closed

[2022-09-16 09:28] sebastianlutter commented on #472
While building a minimal example I found that 0.5.0-SNAPSHOT works well with vit_b32_fe model in my minimal example, see
 * https://github.com/pixolution/tensorflow_java_test/tree/0.5.0-SNAPSHOT

The reason for the issue was a classpath issue in my gradle multiproject. A subproject (lets call it foo) used the 0.5.0-SNAPSHOT jar from snapshot repository, and another subproject used the foo project

[2022-09-16 09:28] #472 closed

[2022-09-21 15:11] unik00 commented on #140
It my case, it was because I use libtensorflow_jni.so of outdated version. While it stills runs without error, GPU utilization percentage is very low. Not sure if this is your issue.

[2022-09-23 16:46] Craigacp commented on #429
In v0.4.2 we added a method which makes it easier to load the native filesystem libraries. You'll still need to download the python wheel and extract it, but at least it's easier to load on the Java side now.

[2022-09-29 09:24] zhenglaizhang commented on #252
Is there any update for this thread?

[2022-09-29 16:45] lanking520 opened #475 "TF Java AARCH64 support"
Hi all,

is there any plan to have aarch64 build for tensorflow Java?  There is a growing demands from DJL community looking for TF aarch64 support. So far I can see a few blockers using TF JavaCPP approach:

- ARM64 build requires some special packages and optimization from ARM, where they only support TF pip package. Build from source with all optimization could be extremely hard and time consum

[2022-10-01 13:41] karllessard commented on #252
@zhenglaizhang , current status is the same, since GitHub actions still do not host Apple Silicon machines required for building TF binaries that are specific to TFJava. A new issue (#475) duplicating this one has just started, you might also want to take a look at it.

[2022-10-01 13:52] karllessard commented on #475
It seems that Amazon has already started to [contribute building official TF binaries](https://blog.tensorflow.org/2022/09/announcing-tensorflow-official-build-collaborators.html?utm_source=newsletter&utm_medium=email&utm_campaign=TensorFlow2022Q3newsletter&utm_term=tensorflow_buildcollab&max-results=20), it would be great if they can also support builds that work for non-python clients.

Now havi

[2022-10-12 17:42] cmckamey opened #476 "Load TFJS trained model in java application."
I have a model that was developed and trained in TFJS and I want to use it in my java application.

I managed to convert it to keras and then to a SavedModel but I am wondering if there is a way to just load the TFJS model directly and spare the clunk conversion process that involves several additional steps and python.

Is such a thing even possible?

[2022-10-12 17:48] Craigacp commented on #476
Looks like you should be able to go directly to a TF Saved Model with the converter, but I don't think the TFJS file format is documented so we couldn't support it.

[2022-10-12 17:54] cmckamey commented on #476
Yeah I have it working very well post conversion, just wish I could save that step. Makes implementation of my project tricky.

[2022-10-12 18:16] Craigacp commented on #476
Unfortunately not. At the moment it looks like tfjs uses something Keras-like as it's JSON format, but we don't have all the Python bits necessary to load in Keras models that aren't exported in SavedModel format.

[2022-10-16 01:46] karllessard commented on #461
Hi @mattdornfeld , I know that this issue has been opened awhile ago but do you by any chance still have these performance tests ready to run? I was wondering if you can see an improvement in performance in the latest 0.5.0-SNAPSHOT after [committing](https://github.com/tensorflow/java/commit/851fcf6b205a5ad5028b6f8afa4b2fe16a1cb0f9) some simplifications around the initializer mechanisms introduce

[2022-10-18 08:19] mattdornfeld commented on #461
Hi @karllessard sorry I didn't post this earlier but I was actually able to solve the performance problems by decreasing the concurrency level on the service. It seems that having that # of qps to the model was okay for the previous version but not for the newer version.

I'll also try running with the latest version and let you know what I find.

[2022-10-18 11:39] #461 closed

[2022-11-20 10:35] lucaro opened #477 "Memory Leak when calling ConcreteFunction"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04 x86\_64): Windows 10
- TensorFlow version (use command below): 0.4.2

I have an application where I need to write a large amount of data as TFRecords to be used externally. To encode these records properly, I need to invoke `tf.io.serializeTensor` inside a `ConcreteFunction`. When running this repeatedly, memory usage

[2022-11-22 17:44] Craigacp commented on #477
I think the example looks ok. Can you take a heap dump of VisualVM and see what Java objects it's allocating?

[2022-11-22 18:33] lucaro commented on #477
VisualVM shows no exceptionally high memory usage, remaining stable over time:
![grafik](https://user-images.githubusercontent.com/246519/203393523-952ff4c7-d855-45b7-816c-08f05c159c56.png)

The largest memory use within the JVM is generated by the expected arrays:
![grafik](https://user-images.githubusercontent.com/246519/203393245-85617f25-1fb2-44a3-9305-28abd33794aa.png)

At the time I took thi

[2022-11-24 02:14] karllessard commented on #477
Also, if that may unblock you until we find the problem, you can build a [`TensorProto`](https://github.com/tensorflow/java/blob/master/tensorflow-core/tensorflow-core-api/src/gen/java/org/tensorflow/proto/framework/TensorProto.java) directly instead of invoking `tf.io.serializeTensor`

[2022-11-24 07:54] lucaro commented on #477
Getting the `String` rather than the `byte[]` doesn't change anything with respect to the leakage.

Thanks for pointing me to the `TensorProto`, that was what I was looking for initially. However, I did some tests and what I get from serializing the `TensorProto` and what I get by calling `tf.io.serializeTensor` is not exactly the same. The tensor serialized via `TensorProto` produces an array tha

[2022-11-24 08:24] lucaro commented on #477
It appears that these two bytes are not important and the serialization via `TensorProto` works for my application.

[2022-11-24 12:45] lucaro commented on #477
So the two missing bytes came from me forgetting to set the data type, after adding `.setDtype(DataType.DT_FLOAT)` the two arrays have the same length. They are still not identical, but the `TensorProto`-serialized bytes can be read again, so my use-case is satisfied.

[2022-11-25 14:13] DevinTDHa commented on #394
Hi @Craigacp,

I have a question regarding this issue. I tried to keep up to date with the releases and was able to compile it with the help of you branch so far, up to version 0.4.1.

Updating to 0.4.2 I am running into some issues and I was not able to figure it out yet.
The branch I am working on is the following:
https://github.com/DevinTDHa/tensorflow-java/tree/apple-silicon-0.4.2-shaded

The

[2022-11-25 14:35] saudet commented on #394
Please update to JavaCPP 1.5.8 in that case, see https://github.com/bytedeco/javacpp/issues/609

[2022-11-25 14:53] DevinTDHa commented on #394
I just found out that the `Export Ops` step in general doesn't work on my system anymore. Seems like something broke after one of the auto-updates for Xcode?

[2022-11-25 16:21] Craigacp commented on #394
We're also hitting this in our local builds, not figured out what's going on yet.

[2022-11-25 18:26] DevinTDHa commented on #394
@Craigacp

I was able to resolve it by downgrading command line tools and Xcode to version 13.1.6! Goes through like before.

[2022-11-26 18:23] karllessard commented on #394
@DevinTDHa , you just saved my life. I've been trying to build TF 2.10 on my M1 for awhile and was blocked by this `malformed trie` error as well. Looks like downgrading Xcode from 14.x to 13.x did the job!

Other than that, building 2.10 is pretty straightforward and I've fixed also how the op exporter is linking to TF. I would like to update TF-Java repo so that the latest snapshot can be easily

[2022-11-27 00:54] saudet commented on #394
Yeah, we should do version upgrades for TF Core separately. Put that in a branch and I'll take a look at it.

[2022-11-27 01:03] saudet commented on #394
Based on that error message, something like this should fix that one though:
[code]

[2022-11-27 22:04] karllessard commented on #394
Yep, that did the trick, thanks! Still, hitting issues now when JavaCPP tries to load the `libjnitensorflow` library. JavaCPP fails with the following debug trace.
[code]
The JNI library is there and looks ok, here's the output of its `otool -L`:
[code]
I'll try to debug that but I've pushed too a [temporary branch](https://github.com/tensorflow/java/tree/tf-upgrade) with my actual code, so if you